<app-breadcrumbs
  [title]="'Cuentas por Cobrar'"
  [breadcrumbItems]="[
    { label: 'Ventas' },
    { label: 'Cuentas por Cobrar', active: true }
  ]"
>
<img class="icon-breadcrumb" style="width: 10vh; height: 10vh;" src="assets/images/svg/cxc.svg" alt="cuentas por cobrar icon" />
</app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3 flex-wrap">
          <!-- Botones de acción según permisos -->
          <div class="search-box mb-2">
            <input type="text" class="form-control search" placeholder="Buscar..." [(ngModel)]="table.searchTerm" (ngModelChange)="table.setSearchTerm($event)">
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
        
        <div class="table-radius-container">
          <div class="table-responsive">
            <table class="table table-gridjs table-style">
              <thead>
                <tr>
                  <th class="gridjs-th" *ngIf="accionPermitida('editar') || accionPermitida('eliminar') || accionPermitida('detalle')">Acciones</th>
                  <!-- Columnas de la tabla -->
                  <th class="gridjs-th" (click)="table.sortBy('secuencia')" style="cursor:pointer;">
                    <span class="table-header-flex">
                      No.
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column;">
                       <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'secuencia' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'secuencia' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('clie_Nombres')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Cliente
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'clie_Nombres' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'clie_Nombres' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('clie_NombreNegocio')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Negocio
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'clie_NombreNegocio' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'clie_NombreNegocio' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('cpCo_FechaEmision')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Fecha Emisión
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_FechaEmision' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_FechaEmision' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('cpCo_FechaVencimiento')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Fecha Vencimiento
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_FechaVencimiento' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_FechaVencimiento' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('cpCo_Valor')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Valor
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Valor' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Valor' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('cpCo_Saldo')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Saldo
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Saldo' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Saldo' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                  <th class="gridjs-th" (click)="table.sortBy('cpCo_Estado')" style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Estado
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Estado' && table.sortDirection === 'asc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        [ngStyle]="table.sortField === 'cpCo_Estado' && table.sortDirection === 'desc' ? {'color': '#D6B68A'} : {'color': 'white'}">
                      </i>
                      </span>
                    </span>
                  </th>
                </tr>
                <tr class="gridjs-th" *ngFor="let data of table.paginated$ | async; let i = index">
                  <td class="position-relative" *ngIf="accionPermitida('editar') || accionPermitida('eliminar') || accionPermitida('detalle')">
                    <div class="dropdown-action-list">
                      <button type="button"
                        class="dropdown-toggle"
                        [attr.aria-expanded]="false"
                        (click)="floatingMenuService.open($event, data)">
                        <span>Acciones</span>
                        <i class="ri-settings-3-line"></i>
                      </button>
                    </div>
                  </td>
                  <td><span class="fw-semibold">{{data.secuencia}}</span></td>
                  <td>{{data.clie_Nombres}} {{data.clie_Apellidos}}</td>
                  <td>{{data.clie_NombreNegocio}}</td>
                  <td>{{data.cpCo_FechaEmision | date:'dd/MM/yyyy'}}</td>
                  <td>{{data.cpCo_FechaVencimiento | date:'dd/MM/yyyy'}}</td>
                  <td>{{data.cpCo_Valor | currency:'USD':'symbol':'1.2-2'}}</td>
                  <td>{{data.cpCo_Saldo | currency:'USD':'symbol':'1.2-2'}}</td>
                  <td>
                    <span class="badge" [ngClass]="data.cpCo_Estado ? 'bg-success' : 'bg-danger'">
                      {{data.cpCo_Estado ? 'Activo' : 'Inactivo'}}
                    </span>
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <ng-container *ngIf="(table.paginated$ | async) as paginados">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" role="status" aria-live="polite">
                Mostrando
                {{ (table.page - 1) * table.pageSizeValue + paginados.length }} de {{ table.total$ | async }}
                registros
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end gridjs-pagination">
                <pagination [totalItems]="(table.total$ | async) || 0" [(ngModel)]="table.page" [itemsPerPage]="table.pageSizeValue" (pageChanged)="table.setPage($event.page)"></pagination>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overlay de carga -->
<div *ngIf="mostrarOverlayCarga" class="overlay-carga">
  <div class="typing-indicator">
    <div class="typing-circle"></div>
    <div class="typing-circle"></div>
    <div class="typing-circle"></div>
    <div class="typing-shadow"></div>
    <div class="typing-shadow"></div>
    <div class="typing-shadow"></div>
  </div>
</div>

<!-- Contenedor de alertas flotantes -->
<div class="alert-container">
  <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
    <strong>¡Éxito!</strong> {{ mensajeExito }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>

  <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-alert-line me-3 align-middle fs-lg"></i>
    <strong>¡Atención!</strong> {{ mensajeWarning }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>

  <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
    <strong>¡Error!</strong> {{ mensajeError }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
</div>

<!-- Modal de confirmación para eliminar -->
<div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" [style.display]="mostrarConfirmacionEliminar ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
        <span>Confirmación</span>
        <i class="ri-close-line custom-modal-close" (click)="cancelarEliminar()"></i>
      </div>
      <hr class="custom-modal-divider">
      <div class="modal-body custom-modal-body">
        <div class="text-center"> 
          <p class="mt-2 custom-modal-text">
            <i class="ri-alert-line me-2 custom-modal-alert-icon" (click)="cancelarEliminar()"></i>¿Está seguro(a) que desea eliminar esta cuenta por cobrar?
          </p>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-primary gray btn-sm btn-minw-5" (click)="cancelarEliminar()"><span class="btn-text">No</span><span class="btn-icon"><i class="ri-close-circle-line"></i></span></button>
        <button type="button" class="btn btn-primary red btn-sm btn-minw-5" (click)="eliminar()">
          <span class="btn-text">Si</span>
          <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
        </button>
      </div> 
    </div>
  </div>
</div>

<!-- Overlay para el modal -->
<div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" *ngIf="mostrarConfirmacionEliminar"></div>

<!-- Menú flotante de acciones -->
<ul
  *ngIf="floatingMenuService.show"
  class="dropdown-menu show"  
  [ngStyle]="{
    position: 'absolute',
    top: floatingMenuService.top + 'px',
    left: floatingMenuService.left + 'px',
  }">
  <li *ngIf="accionPermitida('editar')">
    <button type="button" class="dropdown-action-btn" (click)="irAEditar(floatingMenuService.data.cpCo_Id)">
      Editar <i class="ri-edit-line"></i>
    </button>
  </li>
  <li *ngIf="accionPermitida('eliminar')">
    <button type="button" class="dropdown-action-btn" (click)="confirmarEliminar(floatingMenuService.data); floatingMenuService.close()">
      Eliminar <i class="ri-delete-bin-line"></i>
    </button>
  </li>
  <li *ngIf="accionPermitida('detalle')">
    <button type="button" class="dropdown-action-btn" (click)="irADetalles(floatingMenuService.data.cpCo_Id)">
      Detalles <i class="ri-error-warning-fill"></i>
    </button>
  </li>
  <li *ngIf="accionPermitida('pagar')">
    <button type="button" class="dropdown-action-btn" (click)="irARegistrarPago(floatingMenuService.data.cpCo_Id)">
      Registrar Pago <i class="ri-money-dollar-circle-line"></i>
    </button>
  </li>
</ul>
