<div class="container-fluid">
    
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="real-estate-widgets">
                            <div class="tab-content text-muted">
                                <div id="total_revenue" class="apex-charts" dir="ltr">
                                    <apx-chart [series]="totalrevenueChart.series" [chart]="totalrevenueChart.chart" [plotOptions]="totalrevenueChart.plotOptions" [grid]="totalrevenueChart.grid" [colors]="totalrevenueChart.colors" [fill]="totalrevenueChart.fill" [dataLabels]="totalrevenueChart.dataLabels" [yaxis]="totalrevenueChart.yaxis" [legend]="totalrevenueChart.legend" [xaxis]="totalrevenueChart.xaxis" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>