<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3 flex-wrap" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <button type="button" class="btn btn-primary me-2 mb-2" (click)="crear()">
            <span class="btn-text">Nuevo</span>
            <span class="btn-icon"><i class="ri-add-line"></i></span>
          </button>
        </div>

        <!-- Collapse para el formulario de creación -->
        <div class="collapse" [ngClass]="{ 'show': showCreateForm }">
          <div class="card card-body mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
            <div class="container-fluid flex-grow-1">
              <app-create (onCancel)="cerrarFormulario()" (onSave)="guardarCanal($event)"></app-create>
            </div>
          </div>
        </div>

        <!-- Collapse para el formulario de edición -->
        <div class="collapse" [ngClass]="{ 'show': showEditForm }">
          <div class="card card-body mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
            <div class="container-fluid flex-grow-1">
              <app-edit 
                [canalData]="canalEditando" 
                (onCancel)="cerrarFormularioEdicion()" 
                (onSave)="actualizarCanal($event)">
              </app-edit>
            </div>
          </div>
        </div>

        <!-- Collapse para el formulario de detalles -->
        <div class="collapse" [ngClass]="{ 'show': showDetailsForm }">
          <div class="card card-body mb-3 d-flex flex-column" style="min-height: 400px; padding: 0.5rem;">
            <div class="container-fluid flex-grow-1">
              <app-details 
                [canalDetalle]="canalDetalle" 
                (onClose)="cerrarFormularioDetalles()">
              </app-details>
            </div>
          </div>
        </div>

        <div class="table-responsive" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <table class="table table-gridjs table-style">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>No.</th>
                <th>Descripción</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let canal of canales; let i = index">
                <td>
                  <button class="btn btn-info btn-sm me-1" (click)="detalles(canal)">Detalles</button>
                  <button class="btn btn-warning btn-sm" (click)="editar(canal)">Editar</button>
                </td>
                <td>{{ canal.cana_Id }}</td>
                <td>{{ canal.cana_Descripcion }}</td>
                <td>
                  <span [ngClass]="{'text-success': canal.cana_Estado, 'text-danger': !canal.cana_Estado}">
                    {{ canal.cana_Estado ? 'Activo' : 'Inactivo' }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de alertas flotantes -->
<div class="alert-container">
  <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
    <strong>¡Éxito!</strong> {{ mensajeExito }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
  <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
    <strong>¡Error!</strong> {{ mensajeError }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
</div>