<div class="details-container">
  
  <!-- Contenedor de alertas flotantes -->
  <div class="alert-container">
    <!-- Alerta de error -->
    <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>
  
  <!-- Botón de regresar -->
  <div class="details-header-button">
    <button type="button" class="btn btn-primary" (click)="cerrar()">
      <span class="btn-text">Regresar</span>
      <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
    </button>
  </div>
  <!-- Contenido de detalles -->
  <div *ngIf="!cargando && rutaDetalle" class="details-content">
    <div class="col-md-12">
      <div class="card h-100 shadow-sm employee-details-card bg-dark-blue">
        <div class="card-header d-flex align-items-center rounded-top details-header-custom">
          <i class="ri-road-map-line me-2 fs-4"></i>
          <h4 class="mb-0" style="color: #303d7d">Detalles de la Ruta</h4>
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12 col-sm-4" *ngIf="rutaDetalle.ruta_Id">
              <div class="detail-item">
                <div class="detail-icon bg-dark-blue text-white">
                  <i class="ri-hashtag"></i>
                </div>
                <div class="detail-content">
                  <div class="detail-label">ID</div>
                  <div class="detail-value">
                    {{ rutaDetalle.ruta_Id }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="detail-item">
                <div class="detail-icon bg-dark-blue text-white">
                  <i class="ri-file-list-3-line"></i>
                </div>
                <div class="detail-content">
                  <div class="detail-label">Código</div>
                  <div class="detail-value">
                    {{ rutaDetalle.ruta_Codigo || 'N/A' }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="detail-item">
                <div class="detail-icon bg-dark-blue text-white">
                  <i class="ri-file-list-3-line"></i>
                </div>
                <div class="detail-content">
                  <div class="detail-label">Descripción</div>
                  <div class="detail-value">
                    {{ rutaDetalle.ruta_Descripcion || 'N/A' }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="detail-item">
                <div class="detail-icon bg-dark-blue text-white">
                  <i class="ri-file-list-3-line"></i>
                </div>
                <div class="detail-content">
                  <div class="detail-label">Observaciones</div>
                  <div class="detail-value">
                    {{ rutaDetalle.ruta_Observaciones || 'N/A' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PARA EL MAPA PRUEBA -->
    <!-- <div class="col-md-12 mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark-blue text-white">
        <i class="ri-map-pin-line me-2"></i> Ubicación de Clientes
        </div>
        <div class="card-body p-0">
        <google-map
            [height]="'400px'"
            [width]="'100%'"
            [center]="center"
            [zoom]="zoom">
        </google-map>
        </div>
    </div>
    </div> -->


    
    <!-- Tabla de auditoría -->
    <div class="audit-table-container">
      <div class="audit-table">
        <div class="audit-header">
          <div class="audit-col">Acción</div>
          <div class="audit-col">Usuario</div>
          <div class="audit-col">Fecha</div>
        </div>
      
      <!-- Fila de creación -->
      <div class="audit-row">
        <div class="audit-col">
          <span class="audit-action">Creador</span>
        </div>
        <div class="audit-col">
          <span class="audit-user">{{ rutaDetalle.usuarioCreacion}}</span>
        </div>
        <div class="audit-col">
          <span class="audit-date">{{ formatearFecha(rutaDetalle.ruta_FechaCreacion) }}</span>
        </div>
      </div>
      
      <!-- Fila de modificación -->
      <div class="audit-row">
        <div class="audit-col">
          <span class="audit-action">Modificación</span>
        </div>
        <div class="audit-col">
          <span class="audit-user">{{ rutaDetalle.usuarioModificacion || 'N/A' }}</span>
        </div>
        <div class="audit-col">
          <span class="audit-date">{{ formatearFecha(rutaDetalle.ruta_FechaModificacion ?? null) }}</span>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</div>
