<app-breadcrumbs [title]="'Clientes'" [breadcrumbItems]="[
    { label: 'General' },
    { label: 'Clientes', active: true }
  ]">
  <img class="breadcrumbs-icon ms-2 icon-breadcrumb" src="assets/images/svg/clientes.svg" alt="icono breadcrumb" />
</app-breadcrumbs>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center g-2"
      *ngIf="!showCreateForm && !showEditForm && !showDetailsForm && !listadoClientesSinConfirmar">
      <div class="row align-items-center g-2">
        <div class="col-lg-3 me-auto">
          <button type="button" class="btn btn-primary me-2 mb-2" (click)="crear()">
            <span class="btn-text">Nuevo</span>
            <span class="btn-icon"><i class="ri-add-line"></i></span>
          </button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- Opciones de exportación alineadas a la derecha -->
          <div class="export-buttons d-flex gap-1 mb-2">
            <button type="button" class="btn btn-primary gold btn-sm btn-minw-5-1" (click)="exportarExcel()"
              title="Exportar a Excel">
              <span class="btn-text">Excel</span>
              <span class="btn-icon"><i class="ri-file-excel-2-line" style="font-weight: 100;"></i></span>
            </button>
            <button type="button" class="btn btn-primary gold btn-sm btn-minw-5-1" (click)="exportarPDF()"
              title="Exportar a PDF">
              <span class="btn-text">PDF</span>
              <span class="btn-icon"><i class="ri-file-ppt-line" style="font-weight: 100;"></i></span>
            </button>
            <button type="button" class="btn btn-primary gold btn-sm btn-minw-5-1" (click)="exportarCSV()"
              title="Exportar a CSV">
              <span class="btn-text">CSV</span>
              <span class="btn-icon"><i class="ri-file-text-line" style="font-weight: 100;"></i></span>
            </button>
          </div>
        </div>
        <div class="col-1 position-relative">
          <i id="campanita" class="ri-notification-2-fill"
            style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%); color: #d6b68a; font-size: 1.8em;"
            (click)="abrirListado()"></i>
          <span class="badge bg-danger rounded-pill notification-badge"
            style="position: absolute; right: 18px; top: 40%; transform: translateY(-90%); font-size: 0.7em;">
            {{ notificacionesSinConfirmar }}
          </span>
        </div>
        <div class="col-2 ms-auto position-relative">
          <input type="text" class="form-control ps-5" placeholder="Buscar..." [(ngModel)]="busqueda"
            (ngModelChange)="filtradorClientes()" />
          <i class="ri-search-line search-icon"
            style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); color: #aaa;"></i>
        </div>
      </div>


    </div>

    <div class="row align-items-center g-2" *ngIf="listadoClientesSinConfirmar" [@fadeExpand]>
      <div class="row align-items-center g-2">
        <div class="col-9" style="display: flex; align-items: center;">
          <i class="ri-shield-user-fill text-muted" style="font-size: 1.9em; margin-right: 10px;"></i>
          <h4 class="text-muted" style="padding-top: 5px;">Clientes sin confirmar</h4>
        </div>
        <div class="col-1">
          <i id="campanita" class="ri-arrow-down-s-line"
            style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #141a2f; font-size: 2em;"
            (click)="cerrarListado()"></i>
        </div>
        <div class="col-2 ms-auto position-relative">
          <input type="text" class="form-control ps-5" placeholder="Buscar..." [(ngModel)]="busqueda"
            (ngModelChange)="filtradorClientes()" />
          <i class="ri-search-line search-icon"
            style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); color: #aaa;"></i>
        </div>
      </div>
    </div>

    <!-- Collapse para el formulario de creación -->
    <div class="collapse" [ngClass]="{ 'show': showCreateForm }" id="createFormCollapse">
      <div class="mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
        <div class="container-fluid flex-grow-1">
          <app-create (onCancel)="cerrarFormulario()" (onSave)="guardarCliente($event)"></app-create>
        </div>
      </div>
    </div>

    <!-- Collapse para el formulario de edición -->
    <div class="collapse" [ngClass]="{ 'show': showEditForm }" id="editFormCollapse">
      <div class="card card-body mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
        <div class="container-fluid flex-grow-1">
          <app-edit [clienteData]="clienteEditando!" (onCancel)="cerrarFormularioEdicion()"
            (onSave)="actualizarCliente($event)">
          </app-edit>
        </div>
      </div>
    </div>

    <!-- Collapse para el formulario de detalles -->
    <div class="collapse" [ngClass]="{ 'show': showDetailsForm }" id="detailsFormCollapse">
      <div class="card card-body mb-3 d-flex flex-column" style="min-height: 400px; padding: 0.5rem;">
        <div class="container-fluid flex-grow-1">
          <app-details [clienteData]="clienteDetalle" (onClose)="cerrarFormularioDetalles()">
          </app-details>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="listadoClientesSinConfirmar">
    <div class="row row-cols-xxl-5 g-4 mx-2 mb-4">
      <ng-container *ngFor="let cliente of clientesFiltrados; trackBy: trackByClienteId">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mx-auto">
          <div class="card card-empleado position-relative h-100">
            <div class="card-header p-0 position-relative header-bg"
              [ngStyle]="{ 'background-image': 'url(' + (cliente.clie_ImagenDelNegocio || 'assets/images/imagenes/full-logo.png') + ')' }">
              <div class="header-overlay"></div>

              <div style="position: absolute; top: 10px; left: 18px; z-index:1;">
                <svg width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="4" cy="6" r="2" fill="#D5B58A" fill-opacity="1" />
                  <circle cx="12" cy="6" r="2" fill="#D5B58A" fill-opacity="0.8" />
                  <circle cx="20" cy="6" r="2" fill="#D5B58A" fill-opacity="0.7" />
                  <circle cx="28" cy="6" r="2" fill="#D5B58A" fill-opacity="0.4" />
                </svg>
              </div>

              <div style="position: absolute; top: 0px; right: 0px; z-index:1;"
                *ngIf="showEdit || showDelete || showDetails">
                <div class="dropdown-action-list" (document:click)="onDocumentClick($event, cliente.clie_Id)">
                  <button class="buttonConfig" [attr.aria-expanded]="activeActionRow === cliente.clie_Id"
                    (click)="onActionMenuClick(cliente.clie_Id)">
                    <i class="ri-settings-3-line" style="color: white; font-size: 1.4em;"></i>
                  </button>
                  <span class="acciones-text">Acciones</span>
                  <ul *ngIf="activeActionRow === cliente.clie_Id" class="dropdown-menu show"
                    style="left: -100px; z-index: 10000;">
                    <li *ngIf="showEdit">
                      <button class="dropdown-action-btn">Editar <i class="ri-edit-line"></i></button>
                    </li>
                    <li *ngIf="showDelete">
                      <button class="dropdown-action-btn" (click)="confirmarEliminar(cliente)">Eliminar <i
                          class="ri-delete-bin-line"></i></button>
                    </li>
                    <li *ngIf="showDetails">
                      <button class="dropdown-action-btn" (click)="detalles(cliente)">Detalles <i
                          class="ri-error-warning-fill"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card-body pt-5 mt-2 px-3 text-center">
              <span class="badge fw-semibold mb-1 px-3 py-1 border"
                style="font-size: 0.8rem; background-color: #ffe7e7; color: #740b0b;">
                <i class="ri-user-3-fill" style="font-size: 0.6rem;"></i>
                {{ cliente.clie_Codigo }}
              </span>

              <h5 class="fw-bold mb-1 text-dark" style="font-size: 1.125rem;">
                {{ cliente.clie_NombreNegocio }}
              </h5>

              <ul class="list-unstyled mb-4 mt-4 ps-0"
                style="display: flex; flex-direction: column; align-items: center;">
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bx bx-user-pin" style="color: #141A2F;"></i>
                  <span class="text-muted text-break"> {{ cliente.clie_Nombres }} {{ cliente.clie_Apellidos }} </span>
                </li>
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bx bx-id-card" style="color: #141A2F;"></i>
                  <span class="text-muted text-break"> {{ cliente.clie_DNI }} </span>
                </li>
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bi bi-telephone" style="color: #141A2F;"></i>
                  <span class="text-muted">{{ cliente.clie_Telefono }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row align-items-center mb-3 mx-2" id="pagination-element">
      <div class="col-sm">
        <div class="text-sm-start">
          Mostrando del <span>{{startIndex}}</span> - <span>{{endIndex}}</span> de <span>{{clienteGrid?.length}}</span>
          registros
        </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0 text-md-right float-md-end gridjs-pagination">
        <pagination [totalItems]="clienteGrid?.length" [itemsPerPage]="itemsPerPage"
          (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </div>
  </div>

  <!-- Mostrar listado solo si no se está creando, editando o viendo detalles -->
  <div *ngIf="!showCreateForm && !showEditForm && !showDetailsForm && !listadoClientesSinConfirmar">
    <div class="row row-cols-xxl-5 g-4 mx-2 mb-4">
      <ng-container *ngFor="let cliente of clientes; trackBy: trackByClienteId">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mx-auto">
          <div class="card card-empleado position-relative h-100">
            <div class="card-header p-0 position-relative header-bg"
              [ngStyle]="{ 'background-image': 'url(' + (cliente.clie_ImagenDelNegocio || 'assets/images/imagenes/full-logo.png') + ')' }">
              <div class="header-overlay"></div>

              <div style="position: absolute; top: 10px; left: 18px; z-index:1;">
                <svg width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="4" cy="6" r="2" fill="#D5B58A" fill-opacity="1" />
                  <circle cx="12" cy="6" r="2" fill="#D5B58A" fill-opacity="0.8" />
                  <circle cx="20" cy="6" r="2" fill="#D5B58A" fill-opacity="0.7" />
                  <circle cx="28" cy="6" r="2" fill="#D5B58A" fill-opacity="0.4" />
                </svg>
              </div>

              <div style="position: absolute; top: 0px; right: 0px; z-index:1;"
                *ngIf="showEdit || showDelete || showDetails">
                <div class="dropdown-action-list" (document:click)="onDocumentClick($event, cliente.clie_Id)">
                  <button class="buttonConfig" [attr.aria-expanded]="activeActionRow === cliente.clie_Id"
                    (click)="onActionMenuClick(cliente.clie_Id)">
                    <i class="ri-settings-3-line" style="color: white; font-size: 1.4em;"></i>
                  </button>
                  <span class="acciones-text">Acciones</span>
                  <ul *ngIf="activeActionRow === cliente.clie_Id" class="dropdown-menu show"
                    style="left: -100px; z-index: 10000;">
                    <li *ngIf="showEdit">
                      <button class="dropdown-action-btn" (click)="editar(cliente)">Editar <i
                          class="ri-edit-line"></i></button>
                    </li>
                    <li *ngIf="showDelete">
                      <button class="dropdown-action-btn" (click)="confirmarEliminar(cliente)">Eliminar <i
                          class="ri-delete-bin-line"></i></button>
                    </li>
                    <li *ngIf="showDetails">
                      <button class="dropdown-action-btn" (click)="detalles(cliente)">Detalles <i
                          class="ri-error-warning-fill"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div
              style="height: 4.5px; background-color: #d6b58d; width: 100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            </div>

            <div class="card-body pt-5 mt-2 px-3 text-center">
              <span class="badge fw-semibold mb-1 px-3 py-2 border" style="
                  font-size: 1rem;
                  background-color: #d6b58d; 
                  color: #141a2f; 
                  border-radius: 1.5rem; 
                  border: 2px solid #000;">
                {{ cliente.clie_Codigo }}
              </span>

              <h5 class="fw-bold mb-1 text-dark" style="font-size: 1.125rem;">
                {{ cliente.clie_NombreNegocio }}
              </h5>

              <ul class="list-unstyled mb-4 mt-4 ps-0"
                style="display: flex; flex-direction: column; align-items: center;">
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bx bx-user-pin" style="color: #141A2F;"></i>
                  <span class="text-muted text-break"> {{ cliente.clie_Nombres }} {{ cliente.clie_Apellidos }} </span>
                </li>
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bx bx-id-card" style="color: #141A2F;"></i>
                  <span class="text-muted text-break"> {{ cliente.clie_DNI }} </span>
                </li>
                <li class="d-flex justify-content-center align-items-center gap-2 mb-1">
                  <i class="bi bi-telephone" style="color: #141A2F;"></i>
                  <span class="text-muted">{{ cliente.clie_Telefono }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="row align-items-center mb-3 mx-2" id="pagination-element">
      <div class="col-sm">
        <div class="text-sm-start">
          Mostrando del <span>{{startIndex}}</span> - <span>{{endIndex}}</span> de <span>{{clienteGrid?.length}}</span>
          registros
        </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0 text-md-right float-md-end gridjs-pagination">
        <pagination [(ngModel)]="currentPage" [totalItems]="clientesFiltrados.length" [itemsPerPage]="itemsPerPage"
          (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </div>

    <!-- Modal de confirmación para eliminar -->
    <div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarConfirmacionEliminar }"
      [style.display]="mostrarConfirmacionEliminar ? 'block' : 'none'" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
            <span>Confirmación</span>
            <i class="ri-close-line custom-modal-close" (click)="cancelarEliminar()"></i>
          </div>
          <hr class="custom-modal-divider">
          <div class="modal-body custom-modal-body">
            <div class="text-center">
              <p class="mt-2 custom-modal-text">
                <i class="ri-alert-line me-2 custom-modal-alert-icon" (click)="cancelarEliminar()"></i>¿Está seguro(a)
                que
                desea deasctivar el cliente <strong>{{ clienteAEliminar?.clie_Nombres }}</strong>?
              </p>
            </div>
          </div>
          <div class="modal-footer custom-modal-footer">
            <button type="button" class="btn btn-primary gray btn-sm btn-minw-5" (click)="cancelarEliminar()"><span
                class="btn-text">No</span><span class="btn-icon"><i class="ri-close-circle-line"></i></span></button>
            <button type="button" class="btn btn-primary red btn-sm btn-minw-5" (click)="eliminar()">
              <span class="btn-text">Sí</span>
              <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEliminar }"
      *ngIf="mostrarConfirmacionEliminar"></div>
  </div>
</div>