.details-mini-card {
  border: 1px solid #dee2e6;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.details-mini-card button {
  background: transparent;
  border: none;
  font-weight: 600;
  padding: 0.75rem 1rem;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.details-mini-card button i {
  font-size: 1.5rem;
}

.acciones-list li {
  color: #1a6ddb; /* Cambia este color a tu preferencia */
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.permiso-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75rem;
}
.pantalla-titulo {
  font-size: 1.1rem;
  color: #4a4a4a;
}

.acciones-lista {
  padding-left: 1rem;
  margin-top: 0.4rem;
}

.accion-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #1a73e8; /* azul destacado */
  margin-bottom: 0.3rem;
}

.accion-icon {
  color: #1a73e8;
  font-size: 1rem;
}
