<div class="details-container">
    <!-- Contenedor de alertas flotantes -->
    <div class="alert-container">
        <!-- Alerta de error -->
        <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
            <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
            <strong>¡Error!</strong> {{ mensajeError }}
            <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
        </div>
    </div>

    <!-- Botón de regresar -->
    <div class="details-header-button">
        <button type="button" class="btn btn-primary mb-3" (click)="cerrar()">
            <span class="btn-text">Regresar</span>
            <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
        </button>
    </div>

    <!-- Contenido de detalles -->
    <div *ngIf="!cargando && productoDetalle" class="details-content">
        <div class="row g-4 align-items-stretch">
            <!-- Card izquierda: Imagen + Nombre -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm employee-photo-card position-relative">
                    <ng-container *ngIf="productoDetalle?.prod_Imagen; else noImage">
                        <img [src]="productoDetalle.prod_Imagen" alt="Foto del producto" class="employee-img-card" />
                    </ng-container>
                    <ng-template #noImage>
                    </ng-template>
                </div>
            </div>
            <!-- Card derecha: Detalles -->
             <div class="col-md-8">
                <div class="card h-100 shadow-sm employee-details-card bg-dark-blue">
                    <div class="card-header d-flex align-items-center rounded-top details-header-custom">
                        <i class="ri-info-card-line"></i>
                        <h5 class="mb-0">Detalles del Producto</h5>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">ID del Producto</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_Id }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Código del Producto</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_Codigo }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Código de Barras</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_CodigoBarra }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Descripción del Producto</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_Descripcion }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Descripción Corta del Producto</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_DescripcionCorta }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Precio Unitario</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_PrecioUnitario }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Costo de Compra</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_CostoTotal }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Marca</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.marc_Descripcion }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Categoría</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.cate_Descripcion }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Subcategoría</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.subc_Descripcion }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Proveedor</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prov_NombreEmpresa }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">¿Paga Impuesto?</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.prod_PagaImpuesto }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="detail-item">
                                    <div class="detail-icon bg-dark-blue text-white"><i class="ri-profile-line"></i></div>
                                    <div class="detail-content">
                                        <div class="details-id-label">Impuesto</div>
                                        <div class="details-id-value" style="font-size: 100%;">{{ productoDetalle.impu_Descripcion }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- Tabla de auditoría -->
    <div class="audit-table-container">
      <div class="audit-table">
        <div class="audit-header">
          <div class="audit-col">Acción</div>
          <div class="audit-col">Usuario</div>
          <div class="audit-col">Fecha</div>
        </div>
      
      <!-- Fila de creación -->
      <div class="audit-row">
        <div class="audit-col">
          <span class="audit-action">Creador</span>
        </div>
        <div class="audit-col">
          <span class="audit-user">{{ productoDetalle.usuarioCreacion || 'N/A' }}</span>
        </div>
        <div class="audit-col">
          <span class="audit-date">{{ formatearFecha(productoDetalle.prod_FechaCreacion || null) }}</span>
        </div>
      </div>
      
      <!-- Fila de modificación -->
      <div class="audit-row">
        <div class="audit-col">
          <span class="audit-action">Modificación</span>
        </div>
        <div class="audit-col">
          <span class="audit-user">{{ productoDetalle.usuarioModificacion || 'N/A' }}</span>
        </div>
        <div class="audit-col">
          <span class="audit-date">{{ formatearFecha(productoDetalle.prod_FechaModificacion || null) }}</span>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>