#mapa {
  min-height: 300px;
  width: 100%;
}

.leaflet-control-logo {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.gm-style-iw > div > div + div {
  display: none !important;
}

.gm-ui-hover-effect{
  display: none !important;
}

.gm-style-iw-chr {
  display: none !important;
}
.gm-style-iw button[aria-label="Close"] {
  display: none !important;
}
.gm-style-iw button {
  display: none !important;
}