<div class="d-flex flex-column" style="height: 100%; min-height: 250px">
  <h5 class="card-title mb-4">Crear Nuevo Cliente</h5>

  <div class="alert-container">
    <div *ngIf="mostrarAlertaExito"
      class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>

    <div *ngIf="mostrarAlertaWarning"
      class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>

    <div *ngIf="mostrarAlertaError"
      class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>

  <div class="flex-grow-1">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1" type="button" role="tab">
          Datos Personales
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2" type="button" role="tab">
          Datos Del Negocio
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 3" (click)="activeTab = 3" type="button" role="tab">
          Datos Politicos o Del Credito
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 4" (click)="activeTab = 4" type="button" role="tab">
          Aval
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 5" (click)="activeTab = 5" type="button" role="tab">
          Estado del Cliente
        </button>
      </li>
    </ul>

    <!--=======================================-->
    <!--            Datos Personales           -->
    <!--=======================================-->
    <div *ngIf="activeTab === 1">
      <div class="row mx-lg-4">
        <!-- Código -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteCodigo" class="form-label">Código</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <div [ngStyle]="{ border: (!cliente.clie_Codigo.trim() && mostrarErrores) ? '1px solid #fca4ad' : '1px solid #e5f0ff', backgroundColor: '#eef3ff', padding: '0.460rem 0.5rem', position: 'relative', left: '7px', borderTopLeftRadius: '0.5rem', borderBottomLeftRadius: '0.5rem' }" >
                <i class="ri-attachment-line"></i>
              </div>
              <input type="text" class="form-control" [class.is-invalid]="
                  !cliente.clie_Codigo.trim() && mostrarErrores
                " id="clienteCodigo" [(ngModel)]="cliente.clie_Codigo" placeholder="Ingrese el código del cliente"
                required />
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Codigo.trim() && mostrarErrores">
              <small>El campo Código del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Nacionalidad -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clie_Nacionalidad" class="form-label">Nacionalidad</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="clie_Nacionalidad" class="form-select" [(ngModel)]="cliente.clie_Nacionalidad"
                [class.is-invalid]="
                  !cliente.clie_Nacionalidad && mostrarErrores
                " required>
                <option value="" disabled selected>Seleccione un país</option>
                <option *ngFor="let nacionalidad of paises" [value]="nacionalidad.clie_Nacionalidad">
                  {{ nacionalidad.pais_Descripcion }}
                </option>
              </select>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Nacionalidad && mostrarErrores">
              <small>El campo País de Nacimiento es requerido</small>
            </div>
          </div>
        </div>

        <!-- DNI -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteDNI" class="form-label">DNI</label>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-polaroid-2-line"></i>
              </div>
              <input type="text" class="form-control" id="clienteDNI" [(ngModel)]="cliente.clie_DNI"
                placeholder="Ingrese el DNI del cliente" mask="0000-0000-00000" />
            </div>
          </div>
        </div>

        <!-- RTN -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteRTN" class="form-label">RTN</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <div [ngStyle]="{ border: (!cliente.clie_RTN.trim() && mostrarErrores) ? '1px solid #fca4ad' : '1px solid #e5f0ff', backgroundColor: '#eef3ff', padding: '0.460rem 0.5rem', position: 'relative', left: '7px', borderTopLeftRadius: '0.5rem', borderBottomLeftRadius: '0.5rem' }" >
                <i class="ri-newspaper-line"></i>
              </div>
              <input type="text" class="form-control" [class.is-invalid]="!cliente.clie_RTN.trim() && mostrarErrores"
                id="clienteRTN" [(ngModel)]="cliente.clie_RTN" placeholder="Ingrese el RTN del cliente" required />
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_RTN.trim() && mostrarErrores">
              <small>El campo RTN es requerido</small>
            </div>
          </div>
        </div>

        <!-- Nombres -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteNombres" class="form-label">Nombres</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-user-3-line"></i>
              </div>
              <input type="text" class="form-control" id="clienteNombres" [(ngModel)]="cliente.clie_Nombres"
                [class.is-invalid]="
                  !cliente.clie_Nombres.trim() && mostrarErrores
                " placeholder="Ingrese el nombre del cliente" required />
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Nombres.trim() && mostrarErrores">
              <small>El campo Nombres es requerido</small>
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteApellidos" class="form-label">Apellidos</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-user-3-line"></i>
              </div>
              <input type="text" class="form-control" id="clienteApellidos" [(ngModel)]="cliente.clie_Apellidos"
                [class.is-invalid]="
                  !cliente.clie_Apellidos.trim() && mostrarErrores
                " placeholder="Ingrese los apellidos del cliente" required />
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Apellidos.trim() && mostrarErrores">
              <small>El campo Apellidos es requerido</small>
            </div>
          </div>
        </div>

        <!-- Sexo -->
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label d-block">Sexo</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="sexo-toggle d-flex">
              <label class="sexo-option me-2" [class.selected]="cliente.clie_Sexo === 'M'">
                <input type="radio" name="sexo" value="M" [(ngModel)]="cliente.clie_Sexo" required />
                <i class="ri-men-line sexo-icon"></i>
                <span>Masculino</span>
              </label>
              <label class="sexo-option" [class.selected]="cliente.clie_Sexo === 'F'">
                <input type="radio" name="sexo" value="F" [(ngModel)]="cliente.clie_Sexo" />
                <i class="ri-women-line sexo-icon"></i>
                <span>Femenino</span>
              </label>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Sexo && mostrarErrores">
              <small>El campo Sexo del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Estado Civil -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="esCv_Id" class="form-label">Estado Civil</label>
            <select id="esCv_Id" class="form-select" [(ngModel)]="cliente.esCv_Id">
              <option value="0" disabled selected>
                Seleccione un estado civil
              </option>
              <option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil.esCv_Id">
                {{ estadoCivil.esCv_Descripcion }}
              </option>
            </select>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-calendar-todo-fill"></i>
              </div>
              <input type="date" id="clienteFechaNacimiento" class="form-control"
                [(ngModel)]="cliente.clie_FechaNacimiento" />
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteTelefono" class="form-label">Teléfono</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-phone-fill"></i>
              </div>
              <input type="text" class="form-control" [class.is-invalid]="
                  !cliente.clie_Telefono.trim() && mostrarErrores
                " id="clienteTelefono" [(ngModel)]="cliente.clie_Telefono"
                placeholder="Ingrese el teléfono del cliente" mask="0000-0000" required />
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Telefono.trim() && mostrarErrores">
              <small>El campo Teléfono del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Correo -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteCorreo" class="form-label">Correo</label>
            <div class="d-flex align-items-center">
              <div style=" padding: 0.460rem 0.5rem; border: 1px solid #e5f0ff; position: relative; left: 7px; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background-color: #eef3ff;">
                <i class="ri-mail-unread-line"></i>
              </div>
              <input type="text" class="form-control" id="clienteCorreo" [(ngModel)]="cliente.clie_Correo"
                placeholder="Ingrese el correo del cliente" />
            </div>
          </div>
        </div>
      </div>
      <!-- Botones de navegación -->
      <div class="row mx-lg-4">
        <div class="col-md-12 d-flex justify-content-between gap-2">
          <button
            *ngIf="activeTab > 1"
            type="button"
            class="btn-tab-custom btn-tab-prev"
            (click)="activeTab = activeTab - 1"
          >
            <i class="ri-arrow-left-line"></i> Anterior
          </button>
          <button style="background: none;border: none;"></button>
          <button
            *ngIf="activeTab < 5"
            type="button"
            class="btn-tab-custom btn-tab-next"
            (click)="activeTab = activeTab + 1"
          >
            Siguiente <i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </div>
    </div>

    <!--=======================================-->
    <!--          Datos Del Negocio            -->
    <!--=======================================-->
    <div *ngIf="activeTab === 2">
      <div class="row mx-lg-4">
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label">Imagen del negocio<span class="text-danger">*</span></label>
            <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Selecciona una imagen para subir.'"
              (success)="onFileSelected($event)"></dropzone>
            @if (uploadedFiles) {
            <ul class="list-unstyled mb-0" id="dropzone-preview">
              @for (file of uploadedFiles; track $index) {
              <li class="mt-2" id="dropzone-preview-list">
                <div class="border rounded">
                  <div class="d-flex flex-wrap gap-2 p-2">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar-sm bg-light rounded p-2">
                        @if (file.dataURL) {
                        <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                        }@else {
                        <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                        }
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="pt-1">
                        @if (file.name) {
                        <h5 class="fs-md mb-1">{{ file.name }}</h5>
                        } @if (file.size) {
                        <p class="fs-sm text-muted mb-0">{{ file.size }}</p>
                        }
                      </div>
                    </div>
                    <div class="flex-shrink-0 ms-3">
                      <button (click)="removeFile(file)" class="btn btn-sm btn-danger">
                        Eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </div>
        </div>


        <div class="col-md-6">
          <div class="mb-3">
            <label for="cana_Id" class="form-label">Canal</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="cana_Id" class="form-select" [(ngModel)]="cliente.cana_Id"
                [class.is-invalid]="
                  !cliente.cana_Id && mostrarErrores
                " required>
                <option value="" disabled selected>Seleccione un canal</option>
                <option *ngFor="let canal of canales" [value]="canal.cana_Id">
                  {{ canal.cana_Descripcion }}
                </option>
              </select>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.cana_Id && mostrarErrores">
              <small>El campo Canal es requerido</small>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteNombreNegocio" class="form-label">Nombre del Negocio<span
                class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" [class.is-invalid]="
                  !cliente.clie_NombreNegocio.trim() && mostrarErrores
                " id="clienteNegocio" [(ngModel)]="cliente.clie_NombreNegocio"
                placeholder="Ingrese el nombre del negocio" required />
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_NombreNegocio.trim() && mostrarErrores">
              <small>El campo Nombre del Negocio del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Ruta -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="ruta_Id" class="form-label">Ruta</label>
            <select id="ruta_Id" class="form-select" [(ngModel)]="cliente.ruta_Id"
              [class.is-invalid]="!cliente.ruta_Id && mostrarErrores">
              <option value="0" disabled selected>Seleccione una ruta</option>
              <option *ngFor="let ruta of rutas" [value]="ruta.ruta_Id">
                {{ ruta.ruta_Descripcion }}
              </option>
            </select>
          </div>
        </div>

        <!-- Tipos de Vivienda -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="esCv_Id" class="form-label">Tipo de Vivienda</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center"></div>
              <select id="esCv_Id" class="form-select" [(ngModel)]="cliente.tiVi_Id"
                [class.is-invalid]="!cliente.tiVi_Id && mostrarErrores" required>
                <option value="0" disabled selected>
                  Seleccione un tipo de vivienda
                </option>
                <option *ngFor="let tipoVivienda of tiposDeVivienda" [value]="tipoVivienda.tiVi_Id">
                  {{ tipoVivienda.tiVi_Descripcion }}
                </option>
              </select>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.tiVi_Id && mostrarErrores">
              <small>El campo Tipo de Vivienda es requerido</small>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between;" class="mb-2 mt-4">
          <h4 class="text-muted">Direcciones</h4>
          <button class="btn btn-primary col-2" (click)="abrirMapa()">
            <span class="btn-text">Seleccionar una Ubicación</span>
            <span class="btn-icon"><i class="ri-map-pin-2-line"></i></span>
          </button>
        </div>
        <hr class="mb-4" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <div class="ubicacion-card">
          <div class="card-actions">
            <button class="icon-button"><i class="fas fa-edit"></i></button>
            <button class="icon-button delete"><i class="fas fa-trash-alt"></i></button>
          </div>
        
          <div class="card-content">
            <div class="info">
              <h2 class="direccion-nombre">Los Andes</h2>
              <p class="detalle"><i class="fas fa-map-marker-alt"></i> Francisco Morazán - Tegucigalpa, Col. Kennedy</p>
              <p class="detalle"><i class="fas fa-crosshairs"></i> Lat: 14.0721, Lng: -87.1921</p>
            </div>
          
            <div class="ver-ubicacion">
              <button class="btn btn-primary">
                <span class="btn-text">Ver</span>
                <span class="btn-icon"><i class="ri-map-pin-2-line"></i></span>
              </button>
            </div>
          </div>
        </div>

      </div>

      <!-- Botones de navegación -->
      <div class="row mx-lg-4">
        <div class="col-md-12 d-flex justify-content-between gap-2">
          <button
            *ngIf="activeTab > 1"
            type="button"
            class="btn-tab-custom btn-tab-prev"
            (click)="activeTab = activeTab - 1"
          >
            <i class="ri-arrow-left-line"></i> Anterior
          </button>
          <button
            *ngIf="activeTab < 5"
            type="button"
            class="btn-tab-custom btn-tab-next"
            (click)="activeTab = activeTab + 1"
          >
            Siguiente <i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </div>
    </div>

    <!--=======================================-->
    <!--    Datos Politicos o Del Credito      -->
    <!--=======================================-->
    <div *ngIf="activeTab === 3">
      <div class="row mx-lg-4">
        <!-- Limite de Crédito-->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteLimiteCredito" class="form-label">Límite de Crédito</label>
            <input type="number" class="form-control" id="clienteLimiteCredito" step="0.01"
              [(ngModel)]="cliente.clie_LimiteCredito" placeholder="Ingrese el límite de crédito" />
          </div>
        </div>

        <!-- Días de Crédito-->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteDiasCredito" class="form-label">Días de Crédito</label>
            <input type="number" class="form-control" id="clienteDiasCredito" [(ngModel)]="cliente.clie_DiasCredito"
              placeholder="Ingrese los días de crédito" />
          </div>
        </div>

        <!-- Observaciones -->
        <div class="col-md-12">
          <div class="mb-3">
            <label for="clienteObservaciones" class="form-label">Observaciones</label>
            <div class="d-flex align-items-center">
              <textarea type="text" class="form-control" id="clienteObservaciones" [(ngModel)]="cliente.clie_Observaciones"
                placeholder="Ingrese las observaciones del cliente" rows="4">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="row mx-lg-4">
        <div class="col-md-12 d-flex justify-content-between gap-2">
          <button
            *ngIf="activeTab > 1"
            type="button"
            class="btn-tab-custom btn-tab-prev"
            (click)="activeTab = activeTab - 1"
          >
            <i class="ri-arrow-left-line"></i> Anterior
          </button>
          <button
            *ngIf="activeTab < 5"
            type="button"
            class="btn-tab-custom btn-tab-next"
            (click)="activeTab = activeTab + 1"
          >
            Siguiente <i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </div>
    </div>

    <!--=======================================-->
    <!--                  AVAL                 -->
    <!--=======================================-->
    <div *ngIf="activeTab === 4">
      <div class="row mx-lg-4">
        <!-- DNI -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalDNI" class="form-label">DNI</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="avalDNI" [(ngModel)]="aval.aval_DNI"
                placeholder="Ingrese el DNI del aval" mask="0000-0000-00000" />
            </div>
          </div>
        </div>

        <!-- Nombres -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalNombres" class="form-label">Nombres</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="avalNombres" [(ngModel)]="aval.aval_Nombres"
                placeholder="Ingrese el nombre del aval" />
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalApellidos" class="form-label">Apellidos</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="avalApellidos" [(ngModel)]="aval.aval_Apellidos"
                placeholder="Ingrese los apellidos del aval" />
            </div>
          </div>
        </div>

        <!-- Estado Civil -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="esCv_Id" class="form-label">Estado Civil</label>
            <select id="esCv_Id" class="form-select" [(ngModel)]="aval.esCv_Id">
              <option value="0" disabled selected>
                Seleccione un estado civil
              </option>
              <option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil.esCv_Id">
                {{ estadoCivil.esCv_Descripcion }}
              </option>
            </select>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="mb-3">
            <label for="clie_Nacionalidad" class="form-label">Nacionalidad</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="clie_Nacionalidad" class="form-select" [(ngModel)]="cliente.clie_Nacionalidad"
                [class.is-invalid]="
                  !cliente.clie_Nacionalidad && mostrarErrores
                " required>
                <option value="" disabled selected>Seleccione un país</option>
                <option *ngFor="let nacionalidad of paises" [value]="nacionalidad.clie_Nacionalidad">
                  {{ nacionalidad.pais_Descripcion }}
                </option>
              </select>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Nacionalidad && mostrarErrores">
              <small>El campo País de Nacimiento es requerido</small>
            </div>
          </div>
        </div> -->

        <!-- Parentesco -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalParentesco" class="form-label">Parentesco</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="pare_Id" class="form-select" [(ngModel)]="aval.pare_Id"
                [class.is-invalid]="
                  !aval.pare_Id && mostrarErrores
                " required>
                <option value="" disabled selected>Seleccione un país</option>
                <option *ngFor="let parentesco of parentescos" [value]="parentesco.pare_Id">
                  {{ parentesco.pais_Descripcion }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalTelefono" class="form-label">Teléfono<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" [class.is-invalid]="
                  !aval.aval_Telefono.trim() && mostrarErrores
                " id="avalTelefono" [(ngModel)]="aval.aval_Telefono" placeholder="Ingrese el teléfono del aval"
                mask="0000-0000" required />
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!aval.aval_Telefono.trim() && mostrarErrores">
              <small>El campo Teléfono del Aval es requerido</small>
            </div>
          </div>
        </div>

        <!-- Tipos de Vivienda -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="esCv_Id" class="form-label">Tipo de Vivienda</label>
            <select id="esCv_Id" class="form-select" [(ngModel)]="aval.tiVi_Id"
              [class.is-invalid]="!aval.tiVi_Id && mostrarErrores" required>
              <option value="0" disabled selected>
                Seleccione un tipo de vivienda
              </option>
              <option *ngFor="let tipoVivienda of tiposDeVivienda" [value]="tipoVivienda.tiVi_Id">
                {{ tipoVivienda.tiVi_Descripcion }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="depa_Codigo" class="form-label">Departamento</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="depa_Codigo" name="depa_Codigo" class="form-select" [(ngModel)]="selectedDepaAval"
                (change)="onDepartamentoAvalChange()" required>
                <option value="" disabled selected>
                  Seleccione un Departamento
                </option>
                <option *ngFor="let depa of DepartamentosAval" [value]="depa.depa_Codigo">
                  {{ depa.depa_Descripcion }}
                </option>
              </select>
              <div *ngIf="cargandoAval" class="form-text text-muted">
                Cargando Departamentos...
              </div>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!(selectedDepaAval ?? '').trim() && mostrarErrores">
              <small>El campo Departamento es requerido</small>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="muni_Codigo" class="form-label">Municipio</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="muni_Codigo" name="muni_Codigo" class="form-select" [(ngModel)]="nuevaColoniaAval.muni_Codigo"
                (change)="cargarColoniasAval(nuevaColoniaAval.muni_Codigo)" required>
                <option value="" disabled selected>
                  Seleccione un Municipio
                </option>
                <option *ngFor="let muni of MunicipiosAval" [value]="muni.muni_Codigo">
                  {{ muni.muni_Descripcion }}
                </option>
              </select>
              <div *ngIf="cargandoAval" class="form-text text-muted">
                Cargando Municipios...
              </div>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!(selectedMuniAval ?? '').trim() && mostrarErrores">
              <small>El campo Municipio es requerido</small>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="colo_Id" class="form-label">Colonia</label>
            <span class="text-danger" *ngIf="mostrarErrores">*</span>
            <div class="d-flex align-items-center">
              <select id="colo_Id" name="colo_Id" class="form-select" [(ngModel)]="direccionAval.colo_Id" required>
                <option value="" disabled selected>
                  Seleccione una Colonia
                </option>
                <option *ngFor="let colonia of ColoniasAval" [value]="colonia.colo_Id">
                  {{ colonia.colo_Descripcion }}
                </option>
              </select>
              <div *ngIf="cargandoColoniasAval" class="form-text text-muted">
                Cargando Colonias...
              </div>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!(selectedColoniaAval ?? '').trim() && mostrarErrores">
              <small>El campo Colonias es requerido</small>
            </div>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="avalFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <div class="d-flex align-items-center">
              <input type="date" id="avalFechaNacimiento" class="form-control"
                [(ngModel)]="aval.aval_FechaNacimiento" />
            </div>
          </div>
        </div>
      </div>
      <!-- Botones de navegación -->
      <div class="row mx-lg-4">
        <div class="col-md-12 d-flex justify-content-between gap-2">
          <button
            *ngIf="activeTab > 1"
            type="button"
            class="btn-tab-custom btn-tab-prev"
            (click)="activeTab = activeTab - 1"
          >
            <i class="ri-arrow-left-line"></i> Anterior
          </button>
          <button
            *ngIf="activeTab < 5"
            type="button"
            class="btn-tab-custom btn-tab-next"
            (click)="activeTab = activeTab + 1"
          >
            Siguiente <i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--=======================================-->
  <!--                Estado                 -->
  <!--=======================================-->
  <div *ngIf="activeTab === 5">
    <div class="row mx-lg-4">
      <div class="col-md-12">
        <div class="mb-3" style="display: flex">
          <label class="form-label" style="margin-right: 10px">¿Cliente confirmado?</label>
          <div class="checkbox-wrapper-10">
            <input checked="" type="checkbox" id="cb5" class="tgl tgl-flip" [(ngModel)]="cliente.clie_Confirmacion" />
            <label for="cb5" data-tg-on="Si" data-tg-off="No" class="tgl-btn"></label>
          </div>
        </div>
      </div>
      <!-- Observaciones de Retiro-->
      <div class="col-md-12">
        <div class="mb-3">
          <label for="clienteObservacionesRetiro" class="form-label">Observaciones de Inactividad (En caso del Cliente se desactive, explicar la razon aquí.)</label>
          <div class="d-flex align-items-center">
            <textarea type="text" class="form-control" id="clienteObservacionesRetiro"
              [(ngModel)]="cliente.clie_ObservacionRetiro" placeholder="Ingrese las observaciones del cliente" rows="4">
            </textarea> 
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-lg-4">
      <div class="col-md-12 d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-primary" (click)="guardarTodo()">
            <span class="btn-text">Guardar</span>
            <span class="btn-icon"><i class="ri-save-line"></i></span>
          </button>
      </div>
    </div>

    <!-- Botones de navegación -->
    <div class="row mx-lg-4">
      <div class="col-md-12 d-flex justify-content-between gap-2">
        <button *ngIf="activeTab > 1" type="button" class="btn-tab-custom btn-tab-prev"
          (click)="activeTab = activeTab - 1">
          <i class="ri-arrow-left-line"></i> Anterior
        </button>
        <button *ngIf="activeTab < 5" type="button" class="btn-tab-custom btn-tab-next"
          (click)="activeTab = activeTab + 1">
          Siguiente <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade" [ngClass]="{ show: mostrarMapa }" *ngIf="mostrarMapa"></div>

<div class="modal fade custom-modal" [ngClass]="{ show: mostrarMapa }" [style.display]="mostrarMapa ? 'block' : 'none'"
  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
        <h3 class="text-muted">Seleccionar una ubicación</h3>
        <i class="ri-close-line custom-modal-close" (click)="cerrarMapa()"></i>
      </div>
      <hr class="custom-modal-divider" />
      <div class="modal-body custom-modal-body">
        <app-mapa-selector (coordenadasSeleccionadas)="onCoordenadasSeleccionadas($event)"></app-mapa-selector>
        
        <div class="row mx-lg-4">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="depa_Codigo" class="form-label">Departamento<span class="text-danger">*</span></label>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
              <div class="d-flex align-items-center">
                <select id="depa_Codigo" name="depa_Codigo" class="form-select" [(ngModel)]="selectedDepa"
                  (change)="onDepartamentoChange()" required>
                  <option value="" disabled selected>
                    Seleccione un Departamento
                  </option>
                  <option *ngFor="let depa of Departamentos" [value]="depa.depa_Codigo">
                    {{ depa.depa_Descripcion }}
                  </option>
                </select>
                <div *ngIf="cargando" class="form-text text-muted">
                  Cargando Departamentos...
                </div>
                <span class="text-danger" *ngIf="mostrarErrores">*</span>
              </div>
              <div class="text-danger mt-1" *ngIf="!(selectedDepa ?? '').trim() && mostrarErrores">
                <small>El campo Departamento es requerido</small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="muni_Codigo" class="form-label">Municipio<span class="text-danger">*</span></label>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
              <div class="d-flex align-items-center">
                <select id="muni_Codigo" name="muni_Codigo" class="form-select" [(ngModel)]="nuevaColonia.muni_Codigo"
                  (change)="cargarColonias(nuevaColonia.muni_Codigo)" required>
                  <option value="" disabled selected>
                    Seleccione un Municipio
                  </option>
                  <option *ngFor="let muni of Municipios" [value]="muni.muni_Codigo">
                    {{ muni.muni_Descripcion }}
                  </option>
                </select>
                <div *ngIf="cargando" class="form-text text-muted">
                  Cargando Municipios...
                </div>
                <span class="text-danger" *ngIf="mostrarErrores">*</span>
              </div>
              <div class="text-danger mt-1" *ngIf="!(selectedMuni ?? '').trim() && mostrarErrores">
                <small>El campo Municipio es requerido</small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="colo_Id" class="form-label">Colonia<span class="text-danger">*</span></label>
              <span class="text-danger" *ngIf="mostrarErrores">*</span>
              <div class="d-flex align-items-center">
                <select id="colo_Id" name="colo_Id" class="form-select" [(ngModel)]="direccion.colo_Id" required>
                  <option value="" disabled selected>
                    Seleccione una Colonia
                  </option>
                  <option *ngFor="let colonia of Colonias" [value]="colonia.colo_Id">
                    {{ colonia.colo_Descripcion }}
                  </option>
                </select>
                <div *ngIf="cargandoColonias" class="form-text text-muted">
                  Cargando Colonias...
                </div>
                <span class="text-danger" *ngIf="mostrarErrores">*</span>
              </div>
              <div class="text-danger mt-1" *ngIf="!(selectedColonia ?? '').trim() && mostrarErrores">
                <small>El campo Colonias es requerido</small>
              </div>
            </div>
          </div>

          <!-- Dirección Exacta -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="clienteDireccionExacta" class="form-label">
                Dirección Exacta<span class="text-danger">*</span>
              </label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control" id="clienteDireccionExacta"
                  [(ngModel)]="direccionPorCliente.diCl_DireccionExacta" [class.is-invalid]="
                    !direccionPorCliente.diCl_DireccionExacta.trim() &&
                    mostrarErrores
                  " placeholder="Ingrese la dirección exacta" required />
                <span class="text-danger" *ngIf="mostrarErrores">*</span>
              </div>
              <div class="text-danger" *ngIf="
                  !direccionPorCliente.diCl_DireccionExacta.trim() &&
                  mostrarErrores
                ">
                <small>El campo Dirección Exacta es requerido</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>