<div class="d-flex flex-column" style="height: 100%; min-height: 250px;">
  <!-- Título del componente -->
  <h5 class="card-title mb-4">Crear Nuevo Cliente</h5>
  
  <!-- Contenedor de alertas flotantes -->
  <div class="alert-container">
    <!-- Alerta de éxito -->
    <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    
    <!-- Alerta de advertencia -->
    <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    
    <!-- Alerta de error -->
    <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>
  
<div class="flex-grow-1">
  <div class="row">
    <!-- Código -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteCodigo" class="form-label">Código<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Codigo.trim() && mostrarErrores"
            id="clienteCodigo"
            [(ngModel)]="cliente.clie_Codigo"
            placeholder="Ingrese el código del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Codigo.trim() && mostrarErrores">
          <small>El campo Código del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- DNI -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteDNI" class="form-label">Identidad<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_DNI.trim() && mostrarErrores"
            id="clienteDNI"
            [(ngModel)]="cliente.clie_DNI"
            placeholder="Ingrese el DNI del cliente"
            mask="0000-0000-00000"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_DNI.trim() && mostrarErrores">
          <small>El campo DNI del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- RTN -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteRTN" class="form-label">RTN<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_RTN.trim() && mostrarErrores"
            id="clienteRTN"
            [(ngModel)]="cliente.clie_RTN"
            placeholder="Ingrese el RTN del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_RTN.trim() && mostrarErrores">
          <small>El campo RTN del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Nombres -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteNombres" class="form-label">Nombres<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Nombres.trim() && mostrarErrores"
            id="clienteNombres"
            [(ngModel)]="cliente.clie_Nombres"
            placeholder="Ingrese el nombre del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Nombres.trim() && mostrarErrores">
          <small>El campo Nombres del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Apellidos -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteApellidos" class="form-label">Apellidos<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Apellidos.trim() && mostrarErrores"
            id="clienteApellidos"
            [(ngModel)]="cliente.clie_Apellidos"
            placeholder="Ingrese los apellidos del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Apellidos.trim() && mostrarErrores">
          <small>El campo Apellidos del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Nombre del negocio -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteNombreNegocio" class="form-label">Nombre del Negocio<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_NombreNegocio.trim() && mostrarErrores"
            id="clienteNegocio"
            [(ngModel)]="cliente.clie_NombreNegocio"
            placeholder="Ingrese el nombre del negocio"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_NombreNegocio.trim() && mostrarErrores">
          <small>El campo Nombre del Negocio del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Imagen del negocio -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteImagenNegocio"  class="form-label">Imagen<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_ImagenDelNegocio.trim() && mostrarErrores"
            id="clienteImagenNegocio"
            [(ngModel)]="cliente.clie_ImagenDelNegocio"
            placeholder="Ingrese una imagen"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_ImagenDelNegocio.trim() && mostrarErrores">
          <small>El campo Imagen es requerido</small>
        </div>
      </div>
    </div>

    <!-- Teléfono -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteTelefono" class="form-label">Teléfono<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Telefono.trim() && mostrarErrores"
            id="clienteTelefono"
            [(ngModel)]="cliente.clie_Telefono"
            placeholder="Ingrese el teléfono del cliente"
            mask = "0000-0000"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Telefono.trim() && mostrarErrores">
          <small>El campo Teléfono del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Correo -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteCorreo" class="form-label">Correo<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Correo.trim() && mostrarErrores"
            id="clienteCorreo"
            [(ngModel)]="cliente.clie_Correo"
            placeholder="Ingrese el correo del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Correo.trim() && mostrarErrores">
          <small>El campo Correo del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Sexo ***** -->
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label d-block">Sexo<span class="text-danger">*</span></label>
            <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                name="sexo"
                id="sexoMasculino"
                value="M"
                [(ngModel)]="cliente.clie_Sexo"
                required
            />
            <label class="form-check-label" for="sexoMasculino">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                name="sexo"
                id="sexoFemenino"
                value="F"
                [(ngModel)]="cliente.clie_Sexo"
            />
            <label class="form-check-label" for="sexoFemenino">Femenino</label>
            </div>

            <div class="text-danger mt-1" *ngIf="!cliente.clie_Sexo && mostrarErrores">
            <small>El campo Sexo del Cliente es requerido</small>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="mb-3">
            <label for="clienteFechaNacimiento" class="form-label">Fecha de Nacimiento<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
            <input
                type="date"
                id="clienteFechaNacimiento"
                class="form-control"
                [(ngModel)]="cliente.clie_FechaNacimiento"
                [class.is-invalid]="!cliente.clie_FechaNacimiento && mostrarErrores"
                required
            />
            <span class="text-danger ms-2" *ngIf="!cliente.clie_FechaNacimiento && mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_FechaNacimiento && mostrarErrores">
            <small>El campo Fecha de Nacimiento es requerido</small>
            </div>
        </div>
    </div>


    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteCanal" class="form-label">Canal<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.cana_Descripcion.trim() && mostrarErrores"
            id="clienteCanal"
            [(ngModel)]="cliente.cana_Descripcion"
            placeholder="Ingrese el canal del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.cana_Descripcion.trim() && mostrarErrores">
          <small>El campo Canal del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteEstadoCivil" class="form-label">Estado Civil<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.esCv_Descripcion.trim() && mostrarErrores"
            id="clienteEstadoCivil"
            [(ngModel)]="cliente.esCv_Descripcion"
            placeholder="Ingrese el estado civil del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.esCv_Descripcion.trim() && mostrarErrores">
          <small>El campo Estado Civil del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteRuta" class="form-label">Ruta<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.ruta_Descripcion.trim() && mostrarErrores"
            id="clienteRuta"
            [(ngModel)]="cliente.ruta_Descripcion"
            placeholder="Ingrese la ruta del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.ruta_Descripcion.trim() && mostrarErrores">
          <small>El campo Ruta del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <!-- Limite de Crédito (Decimal) -->
<div class="col-md-5">
  <div class="mb-3">
    <label for="clienteLimiteCredito" class="form-label">Límite de Crédito<span class="text-danger">*</span></label>
    <input
      type="number"
      class="form-control"
      id="clienteLimiteCredito"
      step="0.01"
      [(ngModel)]="cliente.clie_LimiteCredito"
      placeholder="Ingrese el límite de crédito"
    />
  </div>
</div>

<!-- Días de Crédito (Entero con flechitas) -->
    <div class="col-md-5">
    <div class="mb-3">
        <label for="clienteDiasCredito" class="form-label">Días de Crédito<span class="text-danger">*</span></label>
        <input
        type="number"
        class="form-control"
        id="clienteDiasCredito"
        [(ngModel)]="cliente.clie_DiasCredito"
        placeholder="Ingrese los días de crédito"
        />
    </div>
    </div>

<!-- Saldo (Decimal) -->
    <div class="col-md-5">
    <div class="mb-3">
        <label for="clienteSaldo" class="form-label">Saldo<span class="text-danger">*</span></label>
        <input
        type="number"
        class="form-control"
        id="clienteSaldo"
        step="0.01"
        [(ngModel)]="cliente.clie_Saldo"
        placeholder="Ingrese el saldo"
        />
    </div>
    </div>


    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteObservaciones" class="form-label">Observaciones<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_Observaciones.trim() && mostrarErrores"
            id="clienteObservaciones"
            [(ngModel)]="cliente.clie_Observaciones"
            placeholder="Ingrese las observaciones del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_Observaciones.trim() && mostrarErrores">
          <small>El campo Observaciones del Cliente es requerido</small>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="clienteObservaciones" class="form-label">Observaciones<span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="!cliente.clie_ObservacionRetiro.trim() && mostrarErrores"
            id="clienteObservaciones"
            [(ngModel)]="cliente.clie_ObservacionRetiro"
            placeholder="Ingrese las observaciones del cliente"
            required
          />
          <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
        </div>
        <div class="text-danger mt-1" *ngIf="!cliente.clie_ObservacionRetiro.trim() && mostrarErrores">
          <small>El campo Observaciones Retiro del Cliente es requerido</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div class="mt-auto pt-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          <button type="button" class="btn btn-primary" (click)="guardar()">
            <span class="btn-text">Guardar</span>
            <span class="btn-icon"><i class="ri-save-line"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


