<div class="d-flex flex-column" style="height: 100%; min-height: 250px;">
  <h5 class="card-title mb-4">Crear Nuevo Cliente</h5>

  <div class="alert-container">
    <div *ngIf="mostrarAlertaExito"
      class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>

    <div *ngIf="mostrarAlertaWarning"
      class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>

    <div *ngIf="mostrarAlertaError"
      class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>

  <div class="flex-grow-1">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1" type="button" role="tab">
          Datos Personales
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2" type="button" role="tab">
          Datos Del Negocio
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 3" (click)="activeTab = 3" type="button" role="tab">
          Datos Politicos o Del Credito
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 4" (click)="activeTab = 4" type="button" role="tab">
          Aval
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 5" (click)="activeTab = 5" type="button" role="tab">
          Estado del Cliente
        </button>
      </li>
    </ul>

    <!--=======================================-->
    <!--            Datos Personales           -->
    <!--=======================================-->
    <div *ngIf="activeTab === 1">
      <div class="row mx-lg-4">
        <!-- Código -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteCodigo" class="form-label">Código<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" [class.is-invalid]="!cliente.clie_Codigo.trim() && mostrarErrores"
                id="clienteCodigo" [(ngModel)]="cliente.clie_Codigo" placeholder="Ingrese el código del cliente"
                required />
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Codigo.trim() && mostrarErrores">
              <small>El campo Código del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Nacionalidad -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clie_Nacionalidad" class="form-label">País de Nacimiento</label>
            <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            <select id="clie_Nacionalidad" class="form-select" [(ngModel)]="cliente.clie_Nacionalidad" [class.is-invalid]="!cliente.clie_Nacionalidad && mostrarErrores" required>
              <option value=0 disabled selected>Seleccione un país</option>
              <option *ngFor="let nacionalidad of paises" [value]="nacionalidad.clie_Nacionalidad">{{ nacionalidad.pais_Descripcion }}</option>
            </select>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Nacionalidad && mostrarErrores">
              <small>El campo País de Nacimiento es requerido</small>
            </div>
          </div>
        </div>

        <!-- DNI -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteDNI" class="form-label">Identidad</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteDNI" [(ngModel)]="cliente.clie_DNI"
                placeholder="Ingrese el DNI del cliente" mask="0000-0000-00000" />
            </div>
          </div>
        </div>

        <!-- RTN -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteRTN" class="form-label">RTN</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteRTN" [(ngModel)]="cliente.clie_RTN"
                placeholder="Ingrese el RTN del cliente" />
            </div>
          </div>
        </div>

        <!-- Nombres -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteNombres" class="form-label">Nombres</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteNombres" [(ngModel)]="cliente.clie_Nombres"
                placeholder="Ingrese el nombre del cliente" />
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteApellidos" class="form-label">Apellidos</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteApellidos" [(ngModel)]="cliente.clie_Apellidos"
                placeholder="Ingrese los apellidos del cliente" />
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteTelefono" class="form-label">Teléfono<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" [class.is-invalid]="!cliente.clie_Telefono.trim() && mostrarErrores"
                id="clienteTelefono" [(ngModel)]="cliente.clie_Telefono" placeholder="Ingrese el teléfono del cliente"
                mask="0000-0000" required />
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Telefono.trim() && mostrarErrores">
              <small>El campo Teléfono del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Correo -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteCorreo" class="form-label">Correo</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteCorreo" [(ngModel)]="cliente.clie_Correo"
                placeholder="Ingrese el correo del cliente" />
            </div>
          </div>
        </div>

        <!-- Sexo ***** -->
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label d-block">Sexo <span class="text-danger">*</span></label>
            <div class="sexo-toggle d-flex">
              <label class="sexo-option me-2" [class.selected]="cliente.clie_Sexo === 'M'">
                <input type="radio" name="sexo" value="M" [(ngModel)]="cliente.clie_Sexo" required />
                <i class="ri-men-line sexo-icon"></i>
                <span>Masculino</span>
              </label>
              <label class="sexo-option" [class.selected]="cliente.clie_Sexo === 'F'">
                <input type="radio" name="sexo" value="F" [(ngModel)]="cliente.clie_Sexo" />
                <i class="ri-women-line sexo-icon"></i>
                <span>Femenino</span>
              </label>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_Sexo && mostrarErrores">
              <small>El campo Sexo del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <div class="d-flex align-items-center">
              <input type="date" id="clienteFechaNacimiento" class="form-control"
                [(ngModel)]="cliente.clie_FechaNacimiento" />
            </div>
          </div>
        </div>

        <!-- Canal -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteCanal" class="form-label">Canal<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control"
                [class.is-invalid]="!cliente.cana_Descripcion.trim() && mostrarErrores" id="clienteCanal"
                [(ngModel)]="cliente.cana_Descripcion" placeholder="Ingrese el canal del cliente" required />
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.cana_Descripcion.trim() && mostrarErrores">
              <small>El campo Canal del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Estado Civil -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteEstadoCivil" class="form-label">Estado Civil</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteEstadoCivil" [(ngModel)]="cliente.esCv_Descripcion"
                placeholder="Ingrese el estado civil del cliente" />
            </div>
          </div>
        </div>

        <!-- Ruta -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteRuta" class="form-label">Ruta</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteRuta" [(ngModel)]="cliente.ruta_Descripcion"
                placeholder="Ingrese la ruta del cliente" />
            </div>
          </div>
        </div>

        <!-- Limite de Crédito (Decimal) -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteLimiteCredito" class="form-label">Límite de Crédito</label>
            <input type="number" class="form-control" id="clienteLimiteCredito" step="0.01"
              [(ngModel)]="cliente.clie_LimiteCredito" placeholder="Ingrese el límite de crédito" />
          </div>
        </div>

        <!-- Días de Crédito (Entero con flechitas) -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteDiasCredito" class="form-label">Días de Crédito</label>
            <input type="number" class="form-control" id="clienteDiasCredito" [(ngModel)]="cliente.clie_DiasCredito"
              placeholder="Ingrese los días de crédito" />
          </div>
        </div>

        <!-- Saldo (Decimal) -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteSaldo" class="form-label">Saldo</label>
            <input type="number" class="form-control" id="clienteSaldo" step="0.01" [(ngModel)]="cliente.clie_Saldo"
              placeholder="Ingrese el saldo" />
          </div>
        </div>

        <!-- Observaciones -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteObservaciones" class="form-label">Observaciones</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteObservaciones" [(ngModel)]="cliente.clie_Observaciones"
                placeholder="Ingrese las observaciones del cliente" />
            </div>
          </div>
        </div>

        <!-- Observaciones de Retiro-->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteObservacionesRetiro" class="form-label">Observaciones de Retiro</label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" id="clienteObservacionesRetiro"
                [(ngModel)]="cliente.clie_ObservacionRetiro" placeholder="Ingrese las observaciones del cliente" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--=======================================-->
    <!--          Datos Del Negocio            -->
    <!--=======================================-->
    <div *ngIf="activeTab === 2">
      <div class="row mx-lg-4">
        
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteNombreNegocio" class="form-label">Nombre del Negocio<span
                class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control"
                [class.is-invalid]="!cliente.clie_NombreNegocio.trim() && mostrarErrores" id="clienteNegocio"
                [(ngModel)]="cliente.clie_NombreNegocio" placeholder="Ingrese el nombre del negocio" required />
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_NombreNegocio.trim() && mostrarErrores">
              <small>El campo Nombre del Negocio del Cliente es requerido</small>
            </div>
          </div>
        </div>

        <!-- Imagen del negocio -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="clienteImagenNegocio" class="form-label">Imagen<span class="text-danger">*</span></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control"
                [class.is-invalid]="!cliente.clie_ImagenDelNegocio.trim() && mostrarErrores" id="clienteImagenNegocio"
                [(ngModel)]="cliente.clie_ImagenDelNegocio" placeholder="Ingrese una imagen" required />
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!cliente.clie_ImagenDelNegocio.trim() && mostrarErrores">
              <small>El campo Imagen es requerido</small>
            </div>
          </div>
        </div>

        <button class="btn btn-primary mb-2" (click)="abrirMapa()">
          Seleccionar ubicación en el mapa
        </button>
        
        <div *ngIf="latitudSeleccionada && longitudSeleccionada" class="mt-2">
          <strong>Ubicación seleccionada:</strong><br>
          Latitud: {{ latitudSeleccionada }}<br>
          Longitud: {{ longitudSeleccionada }}
        </div>
      </div>
    </div>

    <!--=======================================-->
    <!--    Datos Politicos o Del Credito      -->
    <!--=======================================-->
    <div *ngIf="activeTab === 3">
      <div class="row mx-lg-4">
        <p>DATOS POLITICOS O DEL CREDITO</p>
      </div>
    </div>

    <!--=======================================-->
    <!--                  AVAL                 -->
    <!--=======================================-->
    <div *ngIf="activeTab === 4">
      <div class="row mx-lg-4">
        <p>DATOS DEL AVAL</p>
      </div>
    </div>

    <!--=======================================-->
    <!--                Estado                 -->
    <!--=======================================-->
    <div *ngIf="activeTab === 5">
      <div class="row mx-lg-4">
        <p>ESTADO</p>
      </div>
    </div>
</div>

<div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarMapa }" *ngIf="mostrarMapa"></div>

<div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarMapa }" [style.display]="mostrarMapa ? 'block' : 'none'" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
        <span>Seleccionar mi ubicación actual</span>
        <i class="ri-close-line custom-modal-close"
        (click)="cerrarMapa()"></i>
      </div>
      <hr class="custom-modal-divider">
      <div class="modal-body custom-modal-body">
        <app-mapa-selector (coordenadasSeleccionadas)="onCoordenadasSeleccionadas($event)"></app-mapa-selector>
        <div *ngIf="latitudSeleccionada && longitudSeleccionada" class="mt-2">
          <strong>Ubicación seleccionada:</strong><br>
          Latitud: {{ latitudSeleccionada }}<br>
          Longitud: {{ longitudSeleccionada }}
        </div>
      </div>
    </div>
  </div>
</div>