<div class="d-flex flex-column" style="height: 100%; min-height: 250px;">
  <!-- Título del componente -->
  <h5 class="card-title mb-4">Editar Descuento</h5>
  
  <!-- Contenedor de alertas flotantes -->
  <div class="alert-container">
    <!-- Alerta de éxito -->
    <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    
    <!-- Alerta de advertencia -->
    <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    
    <!-- Alerta de error -->
    <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>
  
  <div class="flex-grow-1">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1" type="button" role="tab">
          Informacion General
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2" type="button" role="tab">
          Aplicar para
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 3" (click)="activeTab = 3" type="button" role="tab">
          Clientes
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 4" (click)="activeTab = 4" type="button" role="tab">
          Escalas
        </button>
      </li>
    </ul>
    
    <div *ngIf="activeTab === 1">
      <div class="row mx-lg-4">
         <div class="col-md-6">
              <label  class="form-label">Descripcion<span class="text-danger">*</span></label>
              <div class="mb-3">
                <div class="d-flex align-items-center">
                  <i class="ri-attachment-line" [ngStyle]="{
                border: (!descuento.desc_Descripcion.trim() && mostrarErrores) ? '1px solid #f9bcc4' : '1px solid #e9ecf5',
                backgroundColor: (!descuento.desc_Descripcion.trim() && mostrarErrores) ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <input 
                    type="text" 
                    class="form-control" 
                    [class.is-invalid]="!descuento.desc_Descripcion.trim() && mostrarErrores"
                    id="descuentoCodigo"
                    [(ngModel)]="descuento.desc_Descripcion"
                    placeholder="Ingrese la descripcion del descuento"
                    required>
                  <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
                </div>
                <div class="text-danger mt-1" *ngIf="!descuento.desc_Descripcion.trim() && mostrarErrores">
                  <small>La descripcion es requerida</small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label  class="form-label">Tipo<span class="text-danger">*</span></label>
              <div class="mb-3">
                <div class="d-flex align-items-center">
                   <i class="ri-refund-2-fill" [ngStyle]="{
                border: (!descuento.desc_Tipo == null && mostrarErrores) ? '1px solid #f9bcc4' : '1px solid #e9ecf5',
                backgroundColor: (!descuento.desc_Tipo == null && mostrarErrores) ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <select 
                      id="tipodescuento" 
                      name="tipodescuento" 
                      class="form-select"
                      [class.is-invalid]="descuento.desc_Tipo == null"
                      [(ngModel)]="descuento.desc_Tipo"
                      required>
                          <option value="" disabled selected>Seleccione una opción</option>
                          <option value=true  selected>Monto Fijo</option>
                          <option value=false  selected>Porcentaje</option>
                          
                  </select>
                  <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
                </div>
                <div class="text-danger mt-1" *ngIf="descuento.desc_Tipo == null && mostrarErrores">
                  <small>El campo tipo de descuento es requerido</small>
                </div>
              </div>
            </div>

             <div class="col-md-6">
              <label  class="form-label">Tipo Factura<span class="text-danger">*</span></label>
              <div class="mb-3">
            
                <div class="toggle-group">
                  <div class="toggle-option">
                    <input
                      type="checkbox"
                      id="contado"
                      [(ngModel)]="seleccionContado"
                      (change)="actualizarFormaPago()"
                    />
                    <label for="contado">Contado</label>
                  </div>
                  <div class="toggle-option">
                    <input
                      type="checkbox"
                      id="credito"
                      [(ngModel)]="seleccionCredito"
                      (change)="actualizarFormaPago()"
                    />
                    <label for="credito">Crédito</label>
                  </div>
                </div>
                <div class="text-danger mt-1" *ngIf="!formaPago && mostrarErrores">
                  <small>El tipo de factura es requerida</small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label  class="form-label">Fecha Inicio<span class="text-danger">*</span></label>
              <div class="mb-3">
                <div class="d-flex align-items-center">
                   <i class="ri-calendar-2-line" [ngStyle]="{
                border: (!descuento.desc_FechaInicio && mostrarErrores) ? '1px solid #f9bcc4' : '1px solid #e9ecf5',
                backgroundColor: (!descuento.desc_FechaInicio && mostrarErrores) ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <input 
                    type="Date" 
                    class="form-control" 
                    [class.is-invalid]="!descuento.desc_FechaInicio && mostrarErrores"
                    id="desc_FechaInicio"
                    [(ngModel)]="fechaInicioFormato"
                    placeholder="Ingrese la Fecha Inicio del descuento"
                    required
                    [min]="hoy"
                    >
                  <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
                </div>
                <div class="text-danger mt-1" *ngIf="!descuento.desc_FechaInicio && mostrarErrores">
                  <small>La Fecha inicio es requerida</small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label  class="form-label">Fecha Fin<span class="text-danger">*</span></label>
              <div class="mb-3">
                <div class="d-flex align-items-center">
                  <i class="ri-calendar-2-line" [ngStyle]="{
                border: (!descuento.desc_FechaFin && mostrarErrores) ? '1px solid #f9bcc4' : '1px solid #e9ecf5',
                backgroundColor: (!descuento.desc_FechaFin && mostrarErrores) ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <input 
                    type="Date" 
                    class="form-control" 
                    [class.is-invalid]="!descuento.desc_FechaFin && mostrarErrores"
                    id="desc_FechaFin"
                    [(ngModel)]="fechaFinFormato"
                    placeholder="Ingrese la Fecha Fin del descuento"
                    required
                    [min]="hoy"
                    >
                  <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
                </div>
                <div class="text-danger mt-1" *ngIf="!descuento.desc_FechaFin && mostrarErrores">
                  <small>La Fecha fin es requerida</small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label  class="form-label">Observaciones</label>
              <div class="mb-3">
                <div class="d-flex align-items-center">
                  <i class="ri-attachment-line" [ngStyle]="{
                border: '1px solid #e9ecf5',
                backgroundColor: '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>

                  <input 
                    type="text" 
                    class="form-control" 
                  
                    id="desc_Observaciones"
                    [(ngModel)]="descuento.desc_Observaciones"
                    placeholder="Ingrese observaciones del descuento"
                    >
                  
                </div>
              
              </div>
            </div>

        <div class="row mx-lg-4 gap-3">
        <div class="col-md-12 d-flex justify-content-between gap-2">
    
         <button type="button" 
           class="btn btn-primary gold"  
           (click)="cancelar()"
           *ngIf="activeTab ==1"
           >
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          <button type="button" 
          (click)="irAlSiguientePaso()" 
          class="btn btn-primary  
          right ms-auto nexttab
            nexttab" data-nexttab="steparrow-description-info-tab" 
            *ngIf="activeTab < 4"
            >
             <span class="btn-text">Siguiente</span>
            <span class="btn-icon"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i></span>
          </button>
        </div>
      </div>
    </div>
    </div>

      <div *ngIf="activeTab === 2">
      <div class="row mx-lg-4">
        <div class="col-md-12">
              <label  class="form-label">Aplicar a:</label>
              <div class="mb-3">
                <div class="row">
                <div class="application-tabs col-md-3">
                  <button class="tab-button tab-button--productos w-100" [class.active]="tabActiva === 'productos'" data-tab="productos" (click)="mostrarSeccion('productos')">Productos</button>
                </div>
                <div class="col-md-3">
                  <button class="tab-button tab-button--categorias w-100" [class.active]="tabActiva === 'categorias'" data-tab="categorias" (click)="mostrarSeccion('categorias')">Categoría</button>
                </div>
                <div class="col-md-3">
                  <button class="tab-button tab-button--subcategorias w-100" [class.active]="tabActiva === 'subcategorias'" data-tab="subcategorias" (click)="mostrarSeccion('subcategorias')">Subcategoría</button>
                </div>
                <div class="col-md-3">
                  <button class="tab-button tab-button--marcas w-100" [class.active]="tabActiva === 'marcas'" data-tab="marcas" (click)="mostrarSeccion('marcas')">Marcas</button>
                </div>
              </div>
            </div>

            <!-- Listado dinámico -->
      <div *ngIf="seccionVisible" class="mt-4 col-md-12">
        <h5 class="text-capitalize">{{ seccionVisible }}</h5>
        
        <!-- Buscador -->
        <input type="text" class="form-control mb-2" [(ngModel)]="filtro" placeholder="Buscar..." />

        <!-- Seleccionar todo -->
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" [checked]="todosSeleccionados()" (change)="seleccionarTodos($event)" />
          <label class="form-check-label">Seleccionar todos</label>
        </div>

        <div class="row">
          <div class="col-md-3" *ngFor="let item of getItemsFiltrados()">
            <div class="form-check">
              <input type="checkbox"
                    class="form-check-input"
                    [id]="'check-' + getId(item)"
                    [checked]="seleccionados.includes(getId(item))"
                    (change)="alternarSeleccion(getId(item))" />
              <label class="form-check-label" [for]="'check-' + getId(item)">
                {{ getNombre(item) }}
              </label>
            </div>
          </div>
        </div>

              
              </div>
            </div>

         <div class="row mx-lg-4 gap-3">
         <div class="d-flex justify-content-between">
          <!-- Botón Cancelar (siempre visible) -->
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          
          <!-- Botones de navegación -->
          <div class="d-flex gap-2">


           <button type="button" 
           class="btn btn-primary "  
           (click)="activeTab = activeTab - 1"
           *ngIf="activeTab > 1"
           >
            <span class="btn-text">Anterior</span>
            <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
          </button>
          <button type="button" 
          (click)="irAlSiguientePaso()" 
          class="btn btn-primary  
          right ms-auto nexttab
            nexttab" data-nexttab="steparrow-description-info-tab" 
            *ngIf="activeTab < 4"
            >
             <span class="btn-text">Siguiente</span>
            <span class="btn-icon"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i></span>
          </button>
          </div>
        </div>
      </div>
    </div>
    </div>

  
  
        <div *ngIf="activeTab === 3">
      <div class="row mx-lg-4">
                <div class="col-md-12">
                  <label  class="form-label">Aplicar para:</label>
                  <div class="mb-3">
                    <div *ngFor="let grupo of clientesAgrupados">
            <!-- Checkbox principal por canal -->
                      <div class="form-check canal-checkbox mb-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          [id]="'canal-' + grupo.canal"
                          [checked]="estanTodosSeleccionados(grupo)"
                          (change)="seleccionarTodosClientes(grupo, $any($event.target).checked)"
                        />
                        <label class="form-check-label fw-bold" [for]="'canal-' + grupo.canal">
                          {{ grupo.canal }}
                        </label>
                      </div>
            <!-- Checkboxes de clientes -->
                      <div class="d-flex flex-wrap gap-3 mb-4">
                        <div
                          class="form-check me-3"
                          *ngFor="let cliente of getClientesFiltrados(grupo)"
                        >
                          <input
                            type="checkbox"
                            class="form-check-input"
                            [id]="'cliente-' + cliente.clie_Id"
                            [checked]="clientesSeleccionados.includes(cliente.clie_Id)"
                            (click)="onClickCheckbox($event, cliente.clie_Id)"
                          />
                          <label class="form-check-label" [for]="'cliente-' + cliente.clie_Id">
                            {{ cliente.clie_NombreNegocio }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
           
               <div class="row mx-lg-4 gap-3">
        <div class="d-flex justify-content-between">
          <!-- Botón Cancelar (siempre visible) -->
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          
          <!-- Botones de navegación -->
          <div class="d-flex gap-2">
         <button type="button" 
           class="btn btn-primary "  
           (click)="activeTab = activeTab - 1"
           *ngIf="activeTab > 1"
           >
            <span class="btn-text">Anterior</span>
            <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
          </button>
          <button type="button" 
          (click)="irAlSiguientePaso()" 
          class="btn btn-primary  
          right ms-auto nexttab
            nexttab" data-nexttab="steparrow-description-info-tab" 
            *ngIf="activeTab < 4"
            >
             <span class="btn-text">Siguiente</span>
            <span class="btn-icon"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i></span>
          </button>
          </div>
        </div>
      </div>
    </div>
    </div>

             <div *ngIf="activeTab === 4">
                <div class="row mx-lg-4">
                <div *ngFor="let escala of escalas; let i = index" class="row align-items-end mb-3">

                <div class="col-md-4">
                  <label class="form-label">Inicio Escala<span class="text-danger">*</span></label>
                  <div class="mb-3">
                <div class="d-flex align-items-center">
                  <i class="ri-swap-box-line" [ngStyle]="{
                border: '1px solid #e9ecf5',
                backgroundColor: '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>

                  <input type="number" 
                  class="form-control" 
                  [(ngModel)]="escala.deEs_InicioEscala" 
                  [class.is-invalid]="i > 0 && escala.deEs_InicioEscala <= escalas[i - 1].deEs_FinEscala" 
                  name="inicio{{i}}" 
                  required
                  >
                  
                </div>
                
                </div>
                <div class="text-danger mt-1 error-message-container" >
                    <small *ngIf="i > 0 && escala.deEs_InicioEscala <= escalas[i - 1].deEs_FinEscala">Inicio debe ser mayor al fin de la escala anterior</small>
                  </div>
                </div>
              

                <div class="col-md-4">
                  <label class="form-label">Fin Escala<span class="text-danger">*</span></label>
                  <div class="mb-3">
                <div class="d-flex align-items-center">
                   <i class="ri-swap-box-line" [ngStyle]="{
                border: '1px solid #e9ecf5',
                backgroundColor: '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <input type="number" class="form-control" 
                  [(ngModel)]="escala.deEs_FinEscala" 
                  [class.is-invalid]="escala.deEs_FinEscala <= escala.deEs_InicioEscala" 
                  name="fin{{i}}" 
                  required
                  >
                  
                </div>
                
              </div>
              <div class="text-danger mt-1 error-message-container" >
                  <small *ngIf="escala.deEs_FinEscala <= escala.deEs_InicioEscala">Fin de escala debe ser mayor que el inicio</small>
                </div>
              </div>


                <div class="col-md-3">
                  <label class="form-label">Valor<span class="text-danger">*</span></label>
                  <div class="mb-3">
                <div class="d-flex align-items-center">
                   <i class="ri-money-dollar-circle-line" [ngStyle]="{
                border: '1px solid #e9ecf5',
                backgroundColor: '#f2f3f9',
                padding: '0.525rem 0.525rem', position: 'relative', left: '7px', borderTopLeftRadius: '8px', borderBottomLeftRadius: '8px'}">
              </i>
                  <input type="number" 
                  class="form-control" 
                  [(ngModel)]="escala.deEs_Valor" 
                  name="valor{{i}}" 
                  required 
                  (ngModelChange)="limitarValor($event, escala)"
                  [class.is-invalid]="validado == false || i > 0 && escala.deEs_Valor <= escalas[i - 1].deEs_Valor" 
                  [max]="999"
                  >
                  
                </div>
                
              </div>
              <div class="text-danger mt-0 error-message-container" >
                    <small *ngIf="i > 0 && escala.deEs_Valor <= escalas[i - 1].deEs_Valor">El valor debe ser mayor al valor anterior</small>
                </div>
              </div>

              <div *ngIf="!validado" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
                <i class="ri-alert-line me-3 align-middle fs-lg"></i>
                <strong>¡Atención!</strong> No se puede poner un valor arriba de 100 si es por porcentaje
                <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
              </div>

             
    


                <div class="col-md-1">
                  <button type="button" class="btn btn-danger" (click)="eliminarEscala(i)" *ngIf="escalas.length > 1">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>

              </div>

              <div class="mb-3">
                <button  type="button" class="btn btn-primary me-2 mb-2" (click)="agregarEscala()" [disabled]="!puedeAgregarNuevaEscala() || !validado">
                          <span class="btn-text">Agregar Escala</span>
                          <span class="btn-icon"><i class="ri-add-line"></i></span>
                        </button>
              </div>


               <div class="row mx-lg-4 gap-3">
        <div class="d-flex justify-content-between">
          <!-- Botón Cancelar (siempre visible) -->
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          
          <!-- Botones de navegación -->
          <div class="d-flex gap-2">
       
          <button type="button" 
           class="btn btn-primary "  
           (click)="activeTab = activeTab - 1"
           *ngIf="activeTab > 1"
           >
            <span class="btn-text">Anterior</span>
            <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
          </button>
          <button type="button" 
          (click)="guardar()" 
          class="btn btn-primary  
          right ms-auto nexttab
            nexttab" data-nexttab="steparrow-description-info-tab" 
            [disabled]="!validado"
            >
             <span class="btn-text">Guardar</span>
            <span class="btn-icon"><i class="ri-save-line label-icon align-middle fs-16 ms-2"></i></span>
          </button>
        </div>

        </div>
      </div>
    </div>
  


<!-- Modal de confirmación para editar -->
<div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarConfirmacionEditar }" [style.display]="mostrarConfirmacionEditar ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
        <span>Confirmación</span>
        <i class="ri-close-line custom-modal-close" (click)="cancelarEdicion()"></i>
      </div>
      <hr class="custom-modal-divider">
      <div class="modal-body custom-modal-body">
        <div class="text-center">
          <p class="mt-2 custom-modal-text">
            <i class="ri-edit-line me-2 custom-modal-alert-icon" (click)="cancelarEdicion()"></i>
            ¿Estás seguro que deseas editar la bodega <strong>"{{ descuentoOriginal }}"</strong> por <strong>"{{ descuento.desc_Descripcion }} "</strong>?
          </p>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-primary  btn-minw-5 gray btn-sm" (click)="cancelarEdicion()">
          <span class="btn-text">No</span>
          <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
        </button>
        <button type="button" class="btn btn-primary  btn-minw-5 btn-sm" (click)="confirmarEdicion()">
          <span class="btn-text">Si</span>
          <span class="btn-icon"><i class="ri-save-line"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay para el modal -->
<div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEditar }" *ngIf="mostrarConfirmacionEditar"></div>
