<app-breadcrumbs [title]="'Usuarios'" [breadcrumbItems]="[
        { label: 'Acceso' },
        { label: 'Usuarios', active: true }
    ]">
    <img class="breadcrumbs-icon ms-2 icon-breadcrumb" src="assets/images/imagenes/Vector.svg" alt="icono breadcrumb" />
</app-breadcrumbs>

<div class="card">
    <div class="card-body">
        <div class="row align-items-center g-2">
            <div class="col-lg-3 me-auto">
                <button *ngIf="accionPermitida('crear')" type="button" class="btn btn-primary me-2 mb-2" click="crear()">
                    <span class="btn-text">Nuevo</span>
                    <span class="btn-icon"><i class="ri-add-line"></i></span>
                </button>           
            </div>
            <div class="col-lg-3">
                <div class="search-box">
                    <input type="text" class="form-control search" placeholder="Buscar..." [(ngModel)]="table.searchTerm" (ngModelChange)="table.setSearchTerm($event)">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-xxl-5 g-4">
    @for (data of usuarios; track usuarios.usua_Id) {
        <div class="col">
            <div class="card card-empleado position-relative h-100">
                <div class="card-header p-0 position-relative" style="height: 90px; background: #141a2f; border-top-left-radius: 1rem; border-top-right-radius: 1rem; display: flex; justify-content: center; align-items: flex-end;">
                    <div style="position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background: #d6b68a; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;"></div>

                    <!--
                        <div style="position: absolute; top: 10px; left: 18px; z-index:1;">
                        <span class="text-muted text-break">{{ data.secuencia }} </span>
                        <svg width="20" height="12" viewBox="0 0" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4" cy="6" r="2" fill="#141a2f" fill-opacity="0.5" />
                            <circle cx="12" cy="6" r="2" fill="#141a2f" fill-opacity="0.3" />
                        </svg>
                        <span class="text-muted">{{ data.usua_EsAdmin ? 'Administrador': '' }}</span>
                    </div>
                    -->

                    <div style="background: #fff; border-radius: 50%; padding: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.08); border: 2px solid #141a2f; margin-bottom: -35px; z-index:1;">
                        <img 
                            src="assets/images/users/48/avatar-8.jpg" 
                            alt="Empleado"
                            class="avatar-img rounded-circle"
                            style="width: 64px; height: 64px; object-fit: cover; display: block;"
                        />
                    </div>

                    <div style="position: absolute; top: 0px; right: 0px; z-index:1;">
                        <div class="dropdown-action-list" (document:click)="onDocumentClick($event, data.usua_Id)">
                            <button class="buttonConfig"
                                [attr.aria-expanded]="activeActionRow === data.usua_Id"
                                (click)="onActionMenuClick(data.usua_Id)">
                                <i class="ri-settings-3-line" style="color: white; width: auto;"></i>
                            </button>
                            <span class="acciones-text">Acciones</span>
                            <ul *ngIf="activeActionRow === data.usua_Id" class="dropdown-menu show" style="left: -80px;">
                                <li *ngIf="accionPermitida('editar')">
                                    <button class="dropdown-action-btn" (click)="editar(data)">Editar
                                        <i class="ri-edit-line"></i></button>
                                </li>
                                @if(data.usua_Estado){
                                    <li *ngIf="accionPermitida('cambiar estado')">
                                        <button class="dropdown-action-btn"
                                        (click)="confirmarEliminar(data)">Desactivar
                                        <i class="ri-delete-bin-line"></i></button>
                                    </li>
                                }
                                @else{
                                    <li *ngIf="accionPermitida('cambiar estado')">
                                        <button class="dropdown-action-btn"
                                        (click)="confirmarEliminar(data)">Activar
                                        <i class="ri-user-follow-fill"></i></button>
                                    </li>
                                }
                                <li *ngIf="accionPermitida('detalle')">
                                    <button class="dropdown-action-btn" (click)="detalles(data)">Detalles
                                        <i class="ri-user-unfollow-fill"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card-body pt-5 mt-2 px-3 text-center">
                    @if (data.usua_Estado) {
                        <span class="badge fw-semibold mb-1 px-3 py-1 border" style="font-size: 0.8rem; background-color: #CEE9C6; color: #365506">
                            Activo
                        </span>
                    }
                    @else {
                        <span class="badge fw-semibold mb-1 px-3 py-1 border" style="font-size: 0.8rem; background-color: #FBCFD4; color: #4E1212">
                            Inactivo
                        </span>
                    }
                    <h5 class="fw-bold mb-1 text-dark" style="font-size: 1.125rem;">
                        {{ data.nombreCompleto }}
                    </h5>

                    <ul class="list-unstyled mb-4 ps-0" style="display: flex; flex-direction: column; align-items: center;">
                        <li class="d-flex justify-content-center align-items-center mb-2" style="gap: 8px;">
                            <i class="ri-contacts-fill" style="color: #141A2F;"></i>
                            <span class="text-muted text-break">{{ data.usua_Usuario }}</span>
                        </li>
                        <li class="d-flex justify-content-center align-items-center" style="gap: 8px;">
                            <i class="ri-key-2-fill" style="color: #141A2F;"></i>
                            <span class="text-muted text-break" style="white-space: normal; word-break: break-word;">
                                {{ data.role_Descripcion }}
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    }
</div>