<div class="details-container">
  <!-- Contenedor de alertas flotantes -->
  <div class="alert-container">
    <div *ngIf="mostrarAlertaError"
      class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>

  <!-- Botón de regresar -->
  <div class="details-header-button">
    <button type="button" class="btn btn-primary mb-3" (click)="cerrar()">
      <span class="btn-text">Regresar</span>
      <span class="btn-icon"><i class="ri-arrow-left-line"></i></span>
    </button>
  </div>

  <!-- Contenido de detalles -->
  <div *ngIf="!cargando && clienteDetalle" class="details-content">
    <div class="row g-4 align-items-stretch">
      <!-- Card izquierda: Imagen negocio + nombre -->
       <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 38px; text-align: center; color: #303d7d"> Información del Negocio </span>
      <div class="col-5">
        <div class="card-image-customer customer-photo-card-modern">
          <ng-container *ngIf="clienteDetalle?.clie_ImagenDelNegocio;">
            <div class="customer-img-container">
              <img [src]="clienteDetalle.clie_ImagenDelNegocio" alt="Imagen del negocio"
                class="customer-img-modern" (load)="imgLoaded = true" [class.loaded]="imgLoaded" />
            </div>
          </ng-container>
          <ng-template #noImage>
            <div class="customer-img-container">
              <div class="customer-img-placeholder d-flex flex-column justify-content-center align-items-center h-100">
                <i class="ri-store-2-line display-1"></i>
              </div>
            </div>
          </ng-template>

          <div class="customer-img-name-modern">
            {{ clienteDetalle.clie_NombreNegocio }}
          </div>
        </div>
      </div>
      <div class="col-6 mapa-derecha card-mapa-card-custom">
        <div class="card h-100 rounded-4"> 
          <div class="card-body h-100 p-0">
            <app-mapa-selector [puntosVista]="puntosVista" [mostrar]="true" [mostrarPuntos]="true"></app-mapa-selector>
          </div>
        </div> 
      </div>

      <!-- Card derecha: Detalles del cliente -->
      <div class="col-md-12">
        <div class="card h-100 shadow-sm employee-details-card bg-dark-blue">
          <div class="card-header d-flex align-items-center rounded-top details-header-custom">
            <i class="ri-user-3-line me-2 fs-4"></i>
            <h4 class="mb-0" style="color: #303d7d">Detalles del Cliente</h4>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.clie_Codigo">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-hashtag"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Código</div>
                    <div class="detail-value">
                      {{ clienteDetalle.clie_Codigo }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-user-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Nombre Completo</div>
                    <div class="detail-value">
                      {{ clienteDetalle.clie_Nombres }}
                      {{ clienteDetalle.clie_Apellidos }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-passport-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">RTN</div>
                    <div class="detail-value">
                      {{ clienteDetalle.clie_DNI }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-mail-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Correo</div>
                    <div class="detail-value">
                      {{
                      clienteDetalle.clie_Correo
                      ? clienteDetalle.clie_Correo
                      : "N/A"
                      }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-phone-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Teléfono</div>
                    <div class="detail-value">
                      {{ clienteDetalle.clie_Telefono }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i [ngClass]="{
                        'ri-men-line': clienteDetalle.clie_Sexo === 'M',
                        'ri-women-line': clienteDetalle.clie_Sexo === 'F',
                        'ri-gender-line':
                          clienteDetalle.clie_Sexo !== 'M' &&
                          clienteDetalle.clie_Sexo !== 'F'
                      }">
                    </i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Sexo</div>
                    <div class="detail-value">
                      {{
                      clienteDetalle.clie_Sexo === "M"
                      ? "Masculino"
                      : clienteDetalle.clie_Sexo === "F"
                      ? "Femenino"
                      : clienteDetalle.clie_Sexo
                      }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-calendar-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Fecha de nacimiento</div>
                    <div class="detail-value">
                      {{ clienteDetalle.clie_FechaNacimiento | date:'dd/MM/yyyy' }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.pais_Descripcion">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-flag-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">País de Nacimiento</div>
                    <div class="detail-value">
                      {{ clienteDetalle.pais_Descripcion }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.tiVi_Descripcion">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-community-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Localidad</div>
                    <div class="detail-value">
                      {{ clienteDetalle.tiVi_Descripcion }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.cana_Descripcion">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-team-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Canal</div>
                    <div class="detail-value">
                      {{ clienteDetalle.cana_Descripcion }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.ruta_Descripcion">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-route-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Ruta</div>
                    <div class="detail-value">
                      {{ clienteDetalle.ruta_Descripcion }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4" *ngIf="clienteDetalle.esCv_Descripcion">
                <div class="detail-item">
                  <div class="detail-icon bg-dark-blue text-white">
                    <i class="ri-hand-heart-line"></i>
                  </div>
                  <div class="detail-content">
                    <div class="detail-label">Estado Civil</div>
                    <div class="detail-value">
                      {{ clienteDetalle.esCv_Descripcion }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <!-- Sección de direcciones -->

    <div class="row g-3">
      <div [ngClass]="{
          'col-12': direcciones.length === 1,
          'col-12 col-lg-6': direcciones.length > 1
        }" *ngFor="let direccion of direcciones">
        <div class="card h-100 shadow-sm employee-details-card">
          <div class="card-header d-flex align-items-center rounded-top details-header-custom">
            <i class="ri-user-3-line me-2 fs-4"></i>
            <h4 class="mb-0" style="color: #303d7d">Direcciones del Cliente</h4>
          </div>
          <div class="card-body position-relative">
            <div class="col-12 mb-3">
              <div class="d-flex align-items-center">
                <div class="detail-icon bg-dark-blue text-white me-2">
                  <i class="ri-hashtag"></i>
                </div>
                <div>
                  <div class="detail-value fw-bold text-muted" style="font-size: 1.2em">
                    {{ direccion.diCl_Observaciones }}
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row text-center g-4 col-12">
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-map-pin-line"></i>
                </div>
                <div class="detail-label">Dirección Exacta</div>
                <div class="detail-value fw-bold text-break small">
                  {{ direccion.diCl_DireccionExacta }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-map-pin-line"></i>
                </div>
                <div class="detail-label">Latitud</div>
                <div class="detail-value fw-bold text-break small">
                  {{ direccion.diCl_Latitud | number : "1.6-6" }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-map-pin-line"></i>
                </div>
                <div class="detail-label">Longitud</div>
                <div class="detail-value fw-bold text-break small">
                  {{ direccion.diCl_Longitud | number : "1.6-6" }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-community-line"></i>
                </div>
                <div class="detail-label">Colonia</div>
                <div class="detail-value fw-bold text-break small">
                  {{ obtenerDescripcionColonia(direccion.colo_Id) }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-road-map-line"></i>
                </div>
                <div class="detail-label">Municipio</div>
                <div class="detail-value fw-bold text-break small">
                  {{ direccion.muni_Descripcion }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-road-map-line"></i>
                </div>
                <div class="detail-label">Departamento</div>
                <div class="detail-value fw-bold text-break small">
                  {{ direccion.depa_Descripcion }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- Avales -->
    <!-- Avales dentro de la card de Crédito Solicitado y Avales-->
    <div class="row g-3"
      *ngIf="clienteDetalle.clie_Saldo && clienteDetalle.clie_LimiteCredito && clienteDetalle.clie_DiasCredito">
      <div class="col-12">
        <div class="card shadow-sm employee-details-card">
          <div class="card-header d-flex align-items-center rounded-top details-header-custom">
            <i class="ri-bank-card-line me-2 fs-4"></i>
            <h4 class="mb-0" style="color: #303d7d">Crédito Solicitado y Avales</h4>
          </div>
          <div class="card-body position-relative">
            <div class="row text-center g-4 col-12 mb-4">
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <span> L. </span>
                </div>
                <div class="detail-label">Saldo</div>
                <div class="detail-value fw-bold text-break small">
                  {{ clienteDetalle.clie_Saldo | currency:'L. ':'symbol':'1.2-2' }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class="ri-bank-card-line"></i>
                </div>
                <div class="detail-label">Límite de Crédito</div>
                <div class="detail-value fw-bold text-break small">
                  {{ clienteDetalle.clie_LimiteCredito | currency:'L. ':'symbol':'1.2-2' }}
                </div>
              </div>
              <div class="col-4">
                <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                  <i class=" ri-calendar-event-line"></i>
                </div>
                <div class="detail-label">Días de Crédito</div>
                <div class="detail-value fw-bold text-break small">
                  {{ clienteDetalle.clie_DiasCredito }} días
                </div>
              </div>
            </div>
            <!-- Avales Asociados sin card propia -->
            <div class="avales-section-bordered mt-4" style="border:none; box-shadow:none;">
              <div class="align-items-center rounded-top details-header-custom" style="border-bottom:none;">
                <i class="ri-parent-line me-2 fs-4"></i>
                <h4 class="mb-0" style="color: #303d7d">
                  {{ avales.length > 1 ? 'Avales Asociados' : 'Aval Asociado' }}
                </h4>
              </div>
              <div class="aval-divider-high"></div>
              <div class="avales-section-body position-relative">
                <div class="row g-3">
                  <ng-container *ngFor="let aval of avales; let last = last">
                    <div class="col-12 col-lg-6">
                      <div class="avales-datos p-3">
                        <div class="col-12 mb-3">
                          <div class="d-flex align-items-center">
                            <div class="detail-icon bg-dark-blue text-white me-2">
                              <i class="ri-hashtag"></i>
                            </div>
                            <div>
                              <div class="detail-label">Nombre Completo</div>
                              <div class="detail-value fw-bold text-muted" style="font-size: 1.2em">
                                {{ aval.aval_Nombres }} {{ aval.aval_Apellidos }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="row text-center g-4 col-12">
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-parent-line"></i>
                            </div>
                            <div class="detail-label">Parentesco</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.pare_Descripcion }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-passport-line"></i>
                            </div>
                            <div class="detail-label">DNI</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.aval_DNI }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-map-pin-line"></i>
                            </div>
                            <div class="detail-label">Dirección Exacta</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.aval_DireccionExacta }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-community-line"></i>
                            </div>
                            <div class="detail-label">Colonia</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.colo_Descripcion }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-phone-line"></i>
                            </div>
                            <div class="detail-label">Teléfono</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.aval_Telefono }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-community-line"></i>
                            </div>
                            <div class="detail-label">Tipo de Vivienda</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.tiVi_Descripcion }}
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="detail-icon bg-dark-blue text-white mb-2 mx-auto">
                              <i class="ri-hand-heart-line"></i>
                            </div>
                            <div class="detail-label">Estado Civil</div>
                            <div class="detail-value fw-bold text-break small">
                              {{ aval.esCv_Descripcion }}
                            </div>
                          </div>
                        </div>
                        <!-- Línea divisoria alta entre avales -->
                        <div *ngIf="!last" class="aval-divider-high"></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-mapa-selector [puntosVista]="puntosVista" [mostrar]="true"></app-mapa-selector> -->

    <!-- Historial de auditoría -->
    <h4 class="details-title mt-4 mb-3" style="color: black">
      Historial de acciones
    </h4>
    <div class="audit-table-container">
      <div class="audit-table">
        <div class="audit-header">
          <div class="audit-col">Acción</div>
          <div class="audit-col">Usuario</div>
          <div class="audit-col">Fecha</div>
        </div>

        <div class="audit-row">
          <div class="audit-col"><span class="audit-action">Creador</span></div>
          <div class="audit-col">
            <span class="audit-user">{{
              clienteDetalle.usuaC_Nombre || "N/A"
              }}</span>
          </div>
          <div class="audit-col">
            <span class="audit-date">{{
              formatearFecha(clienteDetalle.clie_FechaCreacion)
              }}</span>
          </div>
        </div>

        <div class="audit-row">
          <div class="audit-col">
            <span class="audit-action">Modificación</span>
          </div>
          <div class="audit-col">
            <span class="audit-user">{{
              clienteDetalle.usuaM_Nombre || "N/A"
              }}</span>
          </div>
          <div class="audit-col">
            <span class="audit-date">{{
              formatearFecha(clienteDetalle.clie_FechaModificacion ?? null)
              }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>