<header id="page-topbar" (window:scroll)="windowScroll()">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">


               <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none align-items-center" id="topnav-hamburger-icon" (click)="toggleMobileMenu($event)">
                        <span class="hamburger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>

                
            </div>

            <div class="d-flex align-items-center">

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle" data-toggle="fullscreen" (click)="fullscreen()">
                        <i class="bi bi-arrows-fullscreen fs-lg"></i>
                    </button>
                </div>

                <div dropdown class="dropdown ms-sm-3 header-item topbar-user">
                    <button dropdownToggle type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" [src]="userData?.usua_Imagen || 'assets/images/users/32/avatar-1.jpg'" alt="Avatar de Usuario">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{userData?.usua_Usuario}}</span>
                                <span class="d-none d-xl-block ms-1 fs-sm user-name-sub-text">{{userData?.cargo || userData?.role_Descripcion || ''}}</span>
                            </span>
                        </span>
                    </button>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header">Bienvenido</h6>
                        <a class="dropdown-item" routerLink="/profile"><i class="ri-user-line text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Mi Perfil</span></a>
                        <a class="dropdown-item" routerLink="/faqs"><i class="ri-question-line text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Ayuda</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/profile-settings"><i class="ri-settings-3-line text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Configuración</span></a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i class="ri-logout-box-line text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Cerrar Sesión</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- removeNotificationModal -->
<div bsModal #removeNotificationModal="bs-modal" id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="removeNotificationModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4 fs-base">
                        <h4 class="mb-1">¿Está seguro?</h4>
                        <p class="text-muted mx-4 mb-0">¿Está seguro que desea eliminar esta notificación?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeNotificationModal.hide()">Cancelar</button>
                    <button type="button" class="btn w-sm btn-danger" id="delete-notification" (click)="notificationDelete()">
                        <span class="btn-text">Sí, eliminar</span>
                        <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
                    </button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- removeCartModal -->
<div bsModal #removeCartModal="bs-modal" id="removeCartModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-cartmodal"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4>¿Está seguro?</h4>
                        <p class="text-muted mx-4 mb-0">¿Está seguro que desea eliminar este producto?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeCartModal.hide()">
                        <span class="btn-text">Cancelar</span>
                    </button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-cartproduct" (click)="confirmDelete()">
                        <span class="btn-text">Sí, eliminar</span>
                        <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
                    </button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->