<div class="d-flex flex-column" style="height: 100%; min-height: 250px;">
    <!-- Título del componente -->
    <h5 class="card-title mb-4">Editar Marca</h5>
    
    <!-- Contenedor de alertas flotantes -->
    <div class="alert-container">
      <!-- Alerta de éxito -->
      <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
        <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
        <strong>¡Éxito!</strong> {{ mensajeExito }}
        <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
      </div>
      
      <!-- Alerta de advertencia -->
      <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
        <i class="ri-alert-line me-3 align-middle fs-lg"></i>
        <strong>¡Atención!</strong> {{ mensajeWarning }}
        <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
      </div>
      
      <!-- Alerta de error -->
      <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
        <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
        <strong>¡Error!</strong> {{ mensajeError }}
        <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
      </div>
    </div>
    
    <div class="flex-grow-1">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <div class="d-flex align-items-center">
              <input  
                type="text" 
                class="form-control" 
                [class.is-invalid]="!marcasVehiculos.maVe_Marca.trim() && mostrarErrores"
                id="estadoCivilDescripcion"
                [(ngModel)]="marcasVehiculos.maVe_Marca"
                placeholder="Ingrese la descripción del estado civil"
                required>
              <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
            </div>
            <div class="text-danger mt-1" *ngIf="!marcasVehiculos.maVe_Marca.trim() && mostrarErrores">
              <small>El campo Descripción del Estado Civil es requerido</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-auto pt-3">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-primary gold" (click)="cancelar()">
              <span class="btn-text">Cancelar</span>
              <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
            </button>
            <button type="button" class="btn btn-primary" (click)="validarEdicion()">
              <span class="btn-text">Guardar</span>
              <span class="btn-icon"><i class="ri-save-line"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal de confirmación para editar -->
  <div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarConfirmacionEditar }" [style.display]="mostrarConfirmacionEditar ? 'block' : 'none'" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
          <span>Confirmación</span>
          <i class="ri-close-line custom-modal-close" (click)="cancelarEdicion()"></i>
        </div>
        <hr class="custom-modal-divider">
        <div class="modal-body custom-modal-body">
          <div class="text-center">
            <p class="mt-2 custom-modal-text">
              <i class="ri-edit-line me-2 custom-modal-alert-icon" (click)="cancelarEdicion()"></i>
              ¿Estás seguro que deseas editar la marca <strong>"{{ marcasVehiculosOriginal }}"</strong> por <strong>"{{ marcasVehiculos.maVe_Marca }}"</strong>?
            </p>
          </div>
        </div>
        <div class="modal-footer custom-modal-footer">
          <button type="button" class="btn btn-primary  btn-minw-5 gray btn-sm" (click)="cancelarEdicion()">
            <span class="btn-text">No</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          <button type="button" class="btn btn-primary  btn-minw-5 btn-sm" (click)="confirmarEdicion()">
            <span class="btn-text">Si</span>
            <span class="btn-icon"><i class="ri-save-line"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Overlay para el modal -->
  <div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEditar }" *ngIf="mostrarConfirmacionEditar"></div>
  