<div class="d-flex flex-column" style="height: 100%; min-height: 250px">
  <h5 class="card-title mb-4">Crear Nuevo Producto</h5>

  <div class="alert-container">
    <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-4" style="margin-right: 7%;">
    <div class="text-center mb-3" style="font-size: 0.9rem; margin-top: 37px; margin-right: 10px;">
        <label for="prod_Imagen" class="form-label">Imagen<span class="text-danger" >*</span></label>
    </div>
    <div style="position: relative;">
      <img
        [src]="producto.prod_Imagen"
        alt="Foto de producto"
        class="rounded-circle"
        style="width: 96px; height: 96px; object-fit: cover; border: 3px solid #d6b68a; background: #f5f5f5;"
      />
      <label for="inputImagen" style="position: absolute; bottom: 0; right: 0; background: #fff; border-radius: 50%; border: 1px solid #d6b68a; width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; cursor: pointer;">
        <i class="ri-add-line" style="font-size: 1.5rem; color: #d6b68a;"></i>
        <input id="inputImagen" type="file" accept="image/*" (change)="onImagenSeleccionada($event)" style="display: none;" />
      </label>
    </div>
  </div>

    <div class="flex-grow-1">
        <div class="row">
            <!-- Codigo -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_Codigo" class="form-label">Código<span class="text-danger" >*</span></label>
                    <input type="text" class="form-control" id="prod_Codigo" [(ngModel)]="producto.prod_Codigo" [class.is-invalid]="!producto.prod_Codigo.trim() && mostrarErrores" placeholder="Ingrese el codigo" maxlength="10" required/>
                    <div class="text-danger mt-1" *ngIf="!producto.prod_Codigo.trim() && mostrarErrores">
                        <small>El campo Código es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Codigo de Barras -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_CodigoBarra" class="form-label">Código de Barras</label>
                    <input type="text" class="form-control" id="prod_CodigoBarra" [(ngModel)]="producto.prod_CodigoBarra" placeholder="Ingrese el codigo de barras"/>
                </div>
            </div>

            <!-- Descripcion -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_Descripcion" class="form-label">Descripción<span class="text-danger" >*</span></label>
                    <input type="text" class="form-control" id="prod_Descripcion" [(ngModel)]="producto.prod_Descripcion" [class.is-invalid]="!producto.prod_Descripcion.trim() && mostrarErrores" placeholder="Ingrese la descripción" required/>
                    <div class="text-danger mt-1" *ngIf="!producto.prod_Descripcion.trim() && mostrarErrores">
                        <small>El campo Descripción es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Descripcion Corta -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_DescripcionCorta" class="form-label">Descripción Corta<span class="text-danger" >*</span></label>
                    <input type="text" class="form-control" id="prod_DescripcionCorta" [(ngModel)]="producto.prod_DescripcionCorta" [class.is-invalid]="!producto.prod_DescripcionCorta.trim() && mostrarErrores" placeholder="Ingrese una descripción corta" maxlength="50" required/>
                    <div class="text-danger mt-1" *ngIf="!producto.prod_DescripcionCorta.trim() && mostrarErrores">
                        <small>El campo Descripción corta es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Categoria -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="cate_Id" class="form-label">
                        Categorías <span class="text-danger">*</span>
                    </label>
                    <div class="d-flex align-items-center">
                        <select
                            id="cate_Id"
                            name="cate_Id"
                            class="form-select"
                            [(ngModel)]="producto.cate_Id"
                            (change)="filtrarSubcategoriasPorCategoria(producto.cate_Id)"
                            required
                        >
                            <option [ngValue]="null" disabled>Seleccione una Categoría</option>
                            <option *ngFor="let cate of categorias" [ngValue]="cate.cate_Id">
                            {{ cate.cate_Descripcion }}
                            </option>
                        </select>
                        <span class="text-danger ms-2" *ngIf="mostrarErrores && !producto.cate_Id">*</span>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!producto.cate_Id && mostrarErrores">
                        <small>El campo Categoría es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Subcategoria -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="subC_Id" class="form-label">
                        Subcategorías <span class="text-danger">*</span>
                    </label>
                    <select
                        id="subC_Id"
                        name="subC_Id"
                        class="form-select"
                        [(ngModel)]="producto.subc_Id"
                        required
                        [disabled]="!subcategoriasFiltradas?.length"
                    >
                        <option [ngValue]="null" disabled>Seleccione una Subcategoría</option>
                        <option *ngFor="let sub of subcategoriasFiltradas" [ngValue]="sub.subC_Id">
                            {{ sub.subC_Descripcion }}
                        </option>
                    </select>
                    <div class="text-danger mt-1" *ngIf="!producto.subc_Id && mostrarErrores">
                        <small>El campo Subcategoría es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Marca -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="marc_Id" class="form-label">Marca<span class="text-danger" >*</span></label>
                    <select id="marc_Id" class="form-select" [(ngModel)]="producto.marc_Id" [class.is-invalid]="!producto.marc_Id && mostrarErrores" required>
                        <option value=0 disabled selected>Seleccione una marca</option>
                        <option *ngFor="let marc of marcas" [value]="marc.marc_Id">{{ marc.marc_Descripcion }}</option>
                    </select>
                    <div class="text-danger mt-1" *ngIf="!producto.marc_Id && mostrarErrores">
                        <small>El campo Marca es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Proveedor -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prov_Id" class="form-label">Proveedor<span class="text-danger" >*</span></label>
                    <select id="prov_Id" class="form-select" [(ngModel)]="producto.prov_Id" [class.is-invalid]="!producto.prov_Id && mostrarErrores" required>
                        <option value=0 disabled selected>Seleccione un proveedor</option>
                        <option *ngFor="let prov of proveedores" [value]="prov.prov_Id">{{ prov.prov_NombreEmpresa }}</option>
                    </select>
                    <div class="text-danger mt-1" *ngIf="!producto.marc_Id && mostrarErrores">
                        <small>El campo Marca es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Precio Unitario -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_PrecioUnitario" class="form-label">Precio Unitario<span class="text-danger" >*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">L.</span><input type="number" class="form-control" id="prod_PrecioUnitario" [(ngModel)]="producto.prod_PrecioUnitario" [class.is-invalid]="!producto.prod_PrecioUnitario && mostrarErrores" placeholder="Ingrese el precio unitario" required/>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!producto.prod_PrecioUnitario && mostrarErrores">
                        <small>El campo Precio Unitario es requerido</small>
                    </div>
                    <div class="text-danger mt-1" *ngIf="producto.prod_PrecioUnitario && !precioFormatoValido">
                        <small>Máximo permitido: 10 enteros y 2 decimales</small>
                    </div>
                    <div class="text-danger mt-1" *ngIf="producto.prod_PrecioUnitario && producto.prod_PrecioUnitario <= 8.20">
                        <small>El precio debe ser mayor a 8</small>
                    </div>
                </div>
            </div>

            <!-- Costo Total -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="prod_CostoTotal" class="form-label">Costo Total<span class="text-danger" >*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">L.</span><input type="number" class="form-control" id="prod_CostoTotal" [(ngModel)]="producto.prod_CostoTotal" [class.is-invalid]="!producto.prod_CostoTotal && mostrarErrores" placeholder="Ingrese el costo total" required/>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!producto.prod_CostoTotal && mostrarErrores">
                        <small>El campo Costo Total es requerido</small>
                    </div>
                    <div class="text-danger mt-1" *ngIf="producto.prod_CostoTotal && !precioFormatoValido">
                        <small>Máximo permitido: 10 enteros y 2 decimales</small>
                    </div>
                </div>
            </div>

            <!-- Paga Impuesto -->
            <div class="col-md-6">
                <div class="mb-3">
                <label class="form-label">¿Paga Impuesto?</label>
                <div class="form-check form-switch">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    id="prod_PagaImpuesto"
                    [(ngModel)]="producto.prod_PagaImpuesto"
                    (change)="onPagaImpuestoChange()"
                    />
                    <label class="form-check-label" for="prod_PagaImpuesto">
                    {{ producto.prod_PagaImpuesto ? 'Sí' : 'No' }}
                    </label>
                </div>
                </div>
            </div>

            <!-- Impuesto -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="impu_Id" class="form-label">Impuesto</label>
                    <select id="impu_Id" class="form-select" [(ngModel)]="producto.impu_Id" [disabled]="!producto.prod_PagaImpuesto">
                        <option value=0 disabled selected>Seleccione un impuesto</option>
                        <option *ngFor="let imp of impuestos" [value]="imp.impu_Id">{{ imp.impu_Descripcion }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

  <div class="mt-auto pt-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          <button type="button" class="btn btn-primary" (click)="guardar()">
            <span class="btn-text">Guardar</span>
            <span class="btn-icon"><i class="ri-save-line"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
