<div class="d-flex flex-column" style="height: 100%; min-height: 250px;">
  <h5 class="card-title mb-4">Crear Nuevo Proveedor</h5>
  <div class="alert-container">
    <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
      <strong>¡Éxito!</strong> {{ mensajeExito }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-alert-line me-3 align-middle fs-lg"></i>
      <strong>¡Atención!</strong> {{ mensajeWarning }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
    <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
      <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
      <strong>¡Error!</strong> {{ mensajeError }}
      <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label>Código</label>
          <input type="text" class="form-control" [(ngModel)]="proveedor.prov_Codigo" placeholder="Código del proveedor">
        </div>
        <div class="mb-3">
          <label>Empresa</label>
          <input type="text" class="form-control" [(ngModel)]="proveedor.prov_NombreEmpresa" placeholder="Nombre de la empresa" required [class.is-invalid]="!proveedor.prov_NombreEmpresa.trim() && mostrarErrores">
          <span class="text-danger ms-2" *ngIf="mostrarErrores && !proveedor.prov_NombreEmpresa.trim()">*</span>
        </div>
        <div class="mb-3">
          <label>Contacto</label>
          <input type="text" class="form-control" [(ngModel)]="proveedor.prov_NombreContacto" placeholder="Nombre del contacto">
        </div>
        <div class="mb-3">
          <label>Teléfono</label>
          <input type="text" class="form-control" [(ngModel)]="proveedor.prov_Telefono" placeholder="Teléfono">
        </div>
        <div class="mb-3">
          <label>Correo</label>
          <input type="email" class="form-control" [(ngModel)]="proveedor.prov_Correo" placeholder="Correo electrónico">
        </div>
        <div class="mb-3">
          <label>Dirección</label>
          <input type="text" class="form-control" [(ngModel)]="proveedor.prov_DireccionExacta" placeholder="Dirección exacta">
        </div>
        <div class="mb-3">
          <label>Observaciones</label>
          <textarea class="form-control" [(ngModel)]="proveedor.prov_Observaciones" placeholder="Observaciones"></textarea>
        </div>

         <div class="col-md-6">
        <div class="mb-3">
          <div class="d-flex align-items-center">
        <select 
                id="ColoniaCodigo" 
                name="ColoniaCodigo" 
                class="form-select"
                [class.is-invalid]="!proveedor.colo_Id && mostrarErrores"
                [(ngModel)]="proveedor.colo_Id" 
                required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option 
                        *ngFor="let colo of Colonia" 
                        [value]="colo.colo_Id">
                            {{colo.colo_Descripcion }}
                    </option>
            </select>
             <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
          </div>
          <div class="text-danger mt-1" *ngIf="!proveedor.colo_Id && mostrarErrores">
            <small>El campo departamento es requerido</small>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="mt-auto pt-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-primary gold" (click)="cancelar()">
            <span class="btn-text">Cancelar</span>
            <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
          </button>
          <button type="button" class="btn btn-primary" (click)="guardar()">
            <span class="btn-text">Guardar</span>
            <span class="btn-icon"><i class="ri-save-line"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
